@charset "utf-8";

/* =======================================

	clearfix CSS

========================================== */

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
 
.cf:after {
    clear:both;
}

 
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* overflow
----------------------------------------------------------------------------------------------------*/
.of {
	_zoom: 1;
	overflow: hidden;
}
