@charset "utf-8";
/*-----------*/
/*   font    */
/*-----------*/

/* 
10px = 77%
11px = 85%
12px = 93%
13px = 100%
14px = 108%
15px = 116%
16px = 123.1%
17px = 131%
18px = 138.5%
19px = 146.5%
20px = 153.9%
21px = 161.6%
22px = 167%
23px = 174%
24px = 182%
25px = 189%
26px = 197%
*/

body {
	font:13px/1.231 Verdana, Arial, sans-serif;
 *font-size:small;
 *font:x-small;
}
select, input, button, textarea, button {
	font:99% arial, helvetica, clean, sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre, code, kbd, samp, tt {
	font-family:monospace;
 *font-size:108%;
	line-height:1;
}
* html body {
	font-family: 'ＭＳ Ｐゴシック', sans-serif;
}
*:first-child+html body {
	font-family: 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
}

em {
	color:#FF0000;
}
a {
	outline: none;
}
.bold {
	font-weight:bold;
}
.f10{ font-size:77%; }
.f11{ font-size:85%; }
.f12{ font-size:93%; }
.f13{ font-size:100%; }
.f14{ font-size:108%; }
.f15{ font-size:116%; }
.f16{ font-size:123.1%; }
.f17{ font-size:131%; }
.f18{ font-size:138.5%; }
.f19{ font-size:146.5%; }
.f20{ font-size:153.9%; }
.f21{ font-size:161.6%; }
.f22{ font-size:167%; }
.f23{ font-size:174%; }
.f24{ font-size:182%; }
.f25{ font-size:189%; }
.f26{ font-size:197%; }

.mono_g{
	font-family:"Osaka−等幅","ＭＳ ゴシック","monospace";
}
.mono_m{
	font-family:"ＭＳ 明朝","monospace"; 
}