@charset "utf-8";

/*-----------*/
/*   module  */
/*-----------*/



/* float
----------------------------------------------------------------------------------------------------*/
.fl {
	float:left !important;
}
.fr {
	float:right !important;
}
.clear{
	clear:both !important;
}
img.wide{
	width:100%;
}

/* テキストの左右・中央寄せ
----------------------------------------------------------------------------------------------------*/
.tar {
	text-align: right !important;
}
.tac {
	text-align: center !important;
}
.tal {
	text-align: left !important;
}
.vat {
	vertical-align: top !important;
}
.vam {
	vertical-align: middle !important;
}
.vab {
	vertical-align: bottom !important;
}


/* 画像効果スタイル
----------------------------------------------------------------------------------------------------*/

/* polaroid (ポラロイド風) */

img.polaA {
	background: White;
	padding: 6px;
	border-width: 1px;
	border-style: solid;
	border-color: Silver Gray Gray Silver;
}

img.polaB {
	background-color: White;
	border-color: #DCE3E3 #C1C1C1 #C1C1C1 #DCE3E3;
	border-width: 2px;
	padding: 10px 10px 50px 10px;
	border-style: solid;	
}

/* border */
img.border000{
	padding:1px;
	border:1px solid #000;
	margin:0 -2px;
}
img.border333{
	padding:1px;
	border:1px solid #333;
	margin:0 -2px;
}
img.border666{
	padding:1px;
	border:1px solid #666;
	margin:0 -2px;
}
img.border999{
	padding:1px;
	border:1px solid #999;
	margin:0 -2px;
}
img.borderCCC{
	padding:1px;
	border:1px solid #CCC;
	margin:0 -2px;
}

/* alpah */
a:hover img.alpha70{
	opacity:0.70;
	filter:alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
}
a:hover img.alpha75{
	opacity:0.75;
	filter:alpha(opacity=75);
	-ms-filter: "alpha( opacity=75 )";
}
a:hover img.alpha80{
	opacity:0.80;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
a:hover img.alpha85{
	opacity:0.85;
	filter:alpha(opacity=85);
	-ms-filter: "alpha( opacity=85 )";
}
a:hover img.alpha90{
	opacity:0.90;
	filter:alpha(opacity=90);
	-ms-filter: "alpha( opacity=90 )";
}
a:hover img.alpha95{
	opacity:0.95;
	filter:alpha(opacity=95);
	-ms-filter: "alpha( opacity=95 )";
}



/* 余白調整用
----------------------------------------------------------------------------------------------------*/

.mt00 { margin-top:0px !important; }
.mt01 { margin-top:1px !important; }
.mt02 { margin-top:2px !important; }
.mt03 { margin-top:3px !important; }
.mt04 { margin-top:4px !important; }
.mt05 { margin-top:5px !important; }
.mt06 { margin-top:6px !important; }
.mt07 { margin-top:7px !important; }
.mt08 { margin-top:8px !important; }
.mt09 { margin-top:9px !important; }
.mt10 { margin-top:10px !important; }

.mt11 { margin-top:11px !important; }
.mt12 { margin-top:12px !important; }
.mt13 { margin-top:13px !important; }
.mt14 { margin-top:14px !important; }
.mt15 { margin-top:15px !important; }
.mt16 { margin-top:16px !important; }
.mt17 { margin-top:17px !important; }
.mt18 { margin-top:18px !important; }
.mt19 { margin-top:19px !important; }
.mt20 { margin-top:20px !important; }

.mt21 { margin-top:21px !important; }
.mt22 { margin-top:22px !important; }
.mt23 { margin-top:23px !important; }
.mt24 { margin-top:24px !important; }
.mt25 { margin-top:25px !important; }
.mt26 { margin-top:26px !important; }
.mt27 { margin-top:27px !important; }
.mt28 { margin-top:28px !important; }
.mt29 { margin-top:29px !important; }
.mt30 { margin-top:30px !important; }

.mt35 { margin-top:35px !important; }
.mt40 { margin-top:40px !important; }
.mt45 { margin-top:45px !important; }
.mt50 { margin-top:50px !important; }

.mr00 { margin-right:0px !important; }
.mr01 { margin-right:1px !important; }
.mr02 { margin-right:2px !important; }
.mr03 { margin-right:3px !important; }
.mr04 { margin-right:4px !important; }
.mr05 { margin-right:5px !important; }
.mr06 { margin-right:6px !important; }
.mr07 { margin-right:7px !important; }
.mr08 { margin-right:8px !important; }
.mr09 { margin-right:9px !important; }
.mr10 { margin-right:10px !important; }
.mr11 { margin-right:11px !important; }
.mr12 { margin-right:12px !important; }
.mr13 { margin-right:13px !important; }
.mr14 { margin-right:14px !important; }
.mr15 { margin-right:15px !important; }
.mr16 { margin-right:16px !important; }
.mr17 { margin-right:17px !important; }
.mr18 { margin-right:18px !important; }
.mr19 { margin-right:19px !important; }
.mr20 { margin-right:20px !important; }
.mr21 { margin-right:21px !important; }
.mr22 { margin-right:22px !important; }
.mr23 { margin-right:23px !important; }
.mr24 { margin-right:24px !important; }
.mr25 { margin-right:25px !important; }
.mr30 { margin-right:30px !important; }
.mr35 { margin-right:35px !important; }
.mr40 { margin-right:40px !important; }

.mb00 { margin-bottom:0px !important; }
.mb01 { margin-bottom:1px !important; }
.mb02 { margin-bottom:2px !important; }
.mb03 { margin-bottom:3px !important; }
.mb04 { margin-bottom:4px !important; }
.mb05 { margin-bottom:5px !important; }
.mb06 { margin-bottom:6px !important; }
.mb07 { margin-bottom:7px !important; }
.mb08 { margin-bottom:8px !important; }
.mb09 { margin-bottom:9px !important; }
.mb10 { margin-bottom:10px !important; }
.mb11 { margin-bottom:11px !important; }
.mb12 { margin-bottom:12px !important; }
.mb13 { margin-bottom:13px !important; }
.mb14 { margin-bottom:14px !important; }
.mb15 { margin-bottom:15px !important; }
.mb16 { margin-bottom:16px !important; }
.mb17 { margin-bottom:17px !important; }
.mb18 { margin-bottom:18px !important; }
.mb19 { margin-bottom:19px !important; }
.mb20 { margin-bottom:20px !important; }
.mb25 { margin-bottom:25px !important; }
.mb26 { margin-bottom:26px !important; }
.mb27 { margin-bottom:27px !important; }
.mb28 { margin-bottom:28px !important; }
.mb29 { margin-bottom:29px !important; }
.mb30 { margin-bottom:30px !important; }

.ml00 { margin-left:0px !important; }
.ml05 { margin-left:5px !important; }
.ml10 { margin-left:10px !important; }
.ml15 { margin-left:15px !important; }
.ml20 { margin-left:20px !important; }
.ml25 { margin-left:25px !important; }
.ml30 { margin-left:30px !important; }


.break5 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.break10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.break15 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.break20 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pt00 { padding-top:0px !important; }
.pt03 { padding-top:3px !important; }
.pt04 { padding-top:4px !important; }
.pt05 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt25 { padding-top:25px !important; }
.pt30 { padding-top:30px !important; }

.pr00 { padding-right:0px !important; }
.pr05 { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr15 { padding-right:15px !important; }
.pr20 { padding-right:20px !important; }
.pr21 { padding-right:21px !important; }
.pr22 { padding-right:22px !important; }
.pr23 { padding-right:23px !important; }
.pr24 { padding-right:24px !important; }
.pr25 { padding-right:25px !important; }

.pb00 { padding-bottom:0px !important; }
.pb01 { padding-bottom:1px !important; }
.pb02 { padding-bottom:2px !important; }
.pb03 { padding-bottom:3px !important; }
.pb04 { padding-bottom:4px !important; }
.pb05 { padding-bottom:5px !important; }
.pb06 { padding-bottom:6px !important; }
.pb07 { padding-bottom:7px !important; }
.pb08 { padding-bottom:8px !important; }
.pb09 { padding-bottom:9px !important; }
.pb10 { padding-bottom:10px !important; }
.pb11 { padding-bottom:11px !important; }
.pb12 { padding-bottom:12px !important; }
.pb13 { padding-bottom:13px !important; }
.pb14 { padding-bottom:14px !important; }
.pb15 { padding-bottom:15px !important; }
.pb16 { padding-bottom:16px !important; }
.pb17 { padding-bottom:17px !important; }
.pb18 { padding-bottom:18px !important; }
.pb19 { padding-bottom:19px !important; }
.pb20 { padding-bottom:20px !important; }
.pb21 { padding-bottom:21px !important; }
.pb22 { padding-bottom:22px !important; }
.pb23 { padding-bottom:23px !important; }
.pb24 { padding-bottom:24px !important; }
.pb25 { padding-bottom:25px !important; }
.pb26 { padding-bottom:26px !important; }
.pb27 { padding-bottom:27px !important; }
.pb28 { padding-bottom:28px !important; }
.pb29 { padding-bottom:29px !important; }
.pb30 { padding-bottom:30px !important; }

.pl00 { padding-left:0px !important; }
.pl01 { padding-left:1px !important; }
.pl02 { padding-left:2px !important; }
.pl03 { padding-left:3px !important; }
.pl04 { padding-left:4px !important; }
.pl05 { padding-left:5px !important; }
.pl06 { padding-left:6px !important; }
.pl07 { padding-left:7px !important; }
.pl08 { padding-left:8px !important; }
.pl09 { padding-left:9px !important; }
.pl10 { padding-left:10px !important; }
.pl11 { padding-left:11px !important; }
.pl12 { padding-left:12px !important; }
.pl13 { padding-left:13px !important; }
.pl14 { padding-left:14px !important; }
.pl15 { padding-left:15px !important; }
.pl16 { padding-left:16px !important; }
.pl17 { padding-left:17px !important; }
.pl18 { padding-left:18px !important; }
.pl19 { padding-left:19px !important; }
.pl20 { padding-left:20px !important; }
.pl21 { padding-left:21px !important; }
.pl22 { padding-left:22px !important; }
.pl23 { padding-left:23px !important; }
.pl24 { padding-left:24px !important; }
.pl25 { padding-left:25px !important; }


.left01 { position:relative; left:-1px; }
.left02 { position:relative; left:-2px; }
.left03 { position:relative; left:-3px; }
.left04 { position:relative; left:-4px; }
.left05 { position:relative; left:-5px; }
.left06 { position:relative; left:-6px; }
.left07 { position:relative; left:-7px; }
.left08 { position:relative; left:-8px; }
.left09 { position:relative; left:-9px; }
.left10 { position:relative; left:-10px; }

.indent05 {
	padding-left: 0.5em;
	text-indent: -0.5em;
}
.indent06 {
	padding-left: 0.6em;
	text-indent: -0.6em;
}
.indent07 {
	padding-left: 0.7em;
	text-indent: -0.7em;
}
.indent08 {
	padding-left: 0.8em;
	text-indent: -0.8em;
}
.indent09 {
	padding-left: 0.9em;
	text-indent: -0.9em;
}
.indent10 {
	padding-left: 1em;
	text-indent: -1em;
}
.indent11 {
	padding-left: 1.1em;
	text-indent: -1.1em;
}
.indent12 {
	padding-left: 1.2em;
	text-indent: -1.2em;
}
.indent13 {
	padding-left: 1.3em;
	text-indent: -1.3em;
}
.indent14 {
	padding-left: 1.4em;
	text-indent: -1.4em;
}
.indent15 {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.indent16 {
	padding-left: 1.6em;
	text-indent: -1.6em;
}
.indent17 {
	padding-left: 1.7em;
	text-indent: -1.7em;
}
.indent18 {
	padding-left: 1.8em;
	text-indent: -1.8em;
}
.indent19 {
	padding-left: 1.9em;
	text-indent: -1.9em;
}


/* dropshadow効果
----------------------------------------------------------------------------------------------------*/


.shadow_effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.shadow_effect2
{
  position: relative;
}
.shadow_effect2:before, .shadow_effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow_effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


.shadow_effect3
{
  position: relative;
}
.shadow_effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.shadow_effect4
{
  position: relative;
}
.shadow_effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}


.shadow_effect5
{
  position: relative;
}
.shadow_effect5:before, .shadow_effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow_effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.shadow_effect6
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow_effect6:before, .shadow_effect6:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow_effect6:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.shadow_effect7
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow_effect7:before, .shadow_effect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow_effect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.shadow_effect8
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow_effect8:before, .shadow_effect8:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow_effect8:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}