@charset "utf-8";

/*
Theme Name: date
Author: Alma
Version: 1.0
*/
.sp {
    display: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html {
    background-color: #fff;
}

body {
    text-align: center;
    line-height: 1.6;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 1px;
    color: #232323;
    min-width: 1060px;
}

/* wrapper */
.wrapper {
    width: 1020px;
    padding: 0 20px;

    margin: 0 auto;
    text-align: left;
}

.wrapper1000 {
    width: 1000px;
    padding: 0 20px;

    margin: 0 auto;
    text-align: left;
}

/* link */
a {
    color: #333;
    text-decoration: none;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #333;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #ccc;
    background-image: -webkit-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -moz-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -ms-linear-gradient(left, #eee, #ddd, #eee);
    background-image: -o-linear-gradient(left, #eee, #ddd, #eee);
}

#acMenu dt {
    display: block;
    background: #0a8bcf;
    color: #fff;
    x width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    font-size: 20px;
    background: #70b7de;
    color: #fff;
    font-weight: bold;
    padding: 7px 2px 3px 20px;


}

#acMenu dd {
    x width: 100%;
    display: none;
    padding-top: 20px;
}



#acMenu .accordion_icon,
#acMenu .accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

#acMenu .accordion_icon {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
    top: 8px;
    margin-bottom: 0px !important;
}

#acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 2px;
    background-color: #f2f2f2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

#acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

#acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
#acMenu .accordion_icon.active span:nth-of-type(1) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(2) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.premium_class {
    width: 1000px;
    margin: 0 auto;

}

.plmclass {
    display: inline-block;
    position: relative;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.plmclass:before {
    /*左側のリボン端*/
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    left: 15px;
    z-index: -2;
    border: 20px solid #dea72b;
    border-left-color: transparent;
    /*山形に切り抜き*/
}

.plmclass:after {
    /*右側のリボン端*/
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    right: -35px;
    z-index: -2;
    border: 20px solid #dea72b;
    border-right-color: transparent;
    /*山形に切り抜き*/
}

.plmclass p {
    display: inline-block;
    position: relative;
    /* margin: 0 auto; */
    padding: 0 20px;
    margin-left: 50px;
    width: 250px;
    line-height: 45px;
    font-size: 20px;
    color: #FFF;
    background: #9d7722;
}

.plmclass p:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-right: solid 15px #83641e;
    /*左の折り返し部分*/
}

.plmclass p:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-left: solid 15px #83641e;
    /*右の折り返し部分*/
}





.highclass {
    display: inline-block;
    position: relative;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.highclass:before {
    /*左側のリボン端*/
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    left: 15px;
    z-index: -2;
    border: 20px solid #f77a76;
    border-left-color: transparent;
    /*山形に切り抜き*/
}

.highclass:after {
    /*右側のリボン端*/
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    right: -35px;
    z-index: -2;
    border: 20px solid #f77a76;
    border-right-color: transparent;
    /*山形に切り抜き*/
}

.highclass p {
    display: inline-block;
    position: relative;
    /* margin: 0 auto; */
    padding: 0 20px;
    margin-left: 50px;
    line-height: 45px;
    width: 250px;
    font-size: 20px;
    color: #FFF;
    background: #fe5c57;
}

.highclass p:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-right: solid 15px #d44d48;
    /*左の折り返し部分*/
}

.highclass p:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-left: solid 15px #d44d48;
    /*右の折り返し部分*/
}


.highclass-2 {
    border-bottom: none;
    background-color: #fe5c57;
    width: 700px !important;
    display: block;
    padding: 10px 10px 7px !important;
    color: #FFF;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    position: relative;
    border-bottom: none !important;
    text-align: center;
}

.highclass-2:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

.plmclass-2 {
    border-bottom: none;
    background-color: #9d7722;
    width: 700px !important;
    display: block;
    padding: 10px 10px 7px !important;
    color: #FFF;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    position: relative;
    border-bottom: none !important;
    text-align: center;
}

.plmclass-2:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px #3e3011;
}

/* header
----------------------------------------------------------------------------------------------------*/

header {
    padding-bottom: 15px;

}

header a:hover {
    text-decoration: none !important;
}

header .wrapper {
    position: relative;
}

header .top {
    padding-top: 22px;
}

header h1 {
    color: #585755;
    padding: 10px 0 5px;
    font-size: 11px;
    text-align: right;
    margin-bottom: -39px;
    padding-top: 20px;
}

header h2 {
    width: 380px;
    float: left;
    padding-bottom: 20px;

}

header h2 img {
    margin-top: -15px;

}

header p.card {
    float: right;
    padding-top: 25px;
    margin-right: 5px;

}

header p.card img {}

header .lang {
    float: right;
    width: 122px;
    margin-left: 5px;
    margin-top: 30px;
    margin-right: 10px;

}

header p.btn-ja {
    float: right;
    margin-left: 5px;
    padding-top: 25px;

}

header p.btn-ja a {

    display: inline-block;
    font-family: "フォーク R";
    border-radius: 7px;
    text-align: center;
    line-height: 100%;
    font-size: 15px;
    background: #0a8bcf;
    padding: 10px 10px 12px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}

header p.btn-ja a:hover {
    text-decoration: none;
    background: #1a9ee3;
}

header p.btn-en {
    float: right;
    margin-left: 5px;
    padding-top: 25px;

}

header p.btn-en a {

    display: inline-block;
    font-family: "フォーク R";
    border-radius: 7px;
    text-align: center;
    line-height: 100%;
    font-size: 15px;
    background: #012a40;
    padding: 10px 10px 12px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}

header p.btn-en a:hover {
    text-decoration: none;
    background: #00496f;
}

header p.btn-zh {
    float: right;
    margin-left: 5px;
    padding-top: 25px;

}

header p.btn-zh a {

    display: inline-block;
    font-family: "フォーク R";
    border-radius: 7px;
    text-align: center;
    line-height: 100%;
    font-size: 15px;
    background: #ec6155;
    padding: 10px 10px 12px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}

header p.btn-zh a:hover {
    text-decoration: none;
    background: #ff8e84;
}

header p.btn-th {
    float: right;
    margin-left: 5px;
    padding-top: 25px;

}

header p.btn-th a {

    display: inline-block;
    font-family: "フォーク R";
    border-radius: 7px;
    text-align: center;
    line-height: 100%;
    font-size: 15px;
    background: #331512;
    padding: 10px 10px 12px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}

header p.btn-th a:hover {
    text-decoration: none;
    background: #662a25;
}




header nav {
    clear: both;
}

header nav ul {
    border-left: 1px solid #ababab;
}

header nav ul li a {
    float: left;
    display: block;
    border-right: 1px solid #ababab;
    padding: 3px 43px 0px;
    line-height: 1;
    font-size: 15px;
    font-family: "じゅん 201";
}

header nav ul.th li a {
    padding: 3px 44px 0px;
}

header nav ul.en li a {
    padding: 7px 47px 9px;
}

header nav ul li a span {
    display: block;
    text-align: center;
    font-size: 10px;
    padding-top: 3px;
}

header nav ul li {
    *display: inline;
}

header nav ul li a:hover {
    text-decoration: none;
    color: #0a8bcf;
    font-weight: bold;
    xbackground: #f2f2f2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header nav ul.th li a:hover,
header nav ul.en li a:hover {
    font-weight: 300;
}


header.fixed {
        position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9999999;
    box-shadow: 0px 1px 6px -3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 6px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 6px -3px rgba(0, 0, 0, 0.5);
}
header.fixed span.typesquare_tags {
display: none;
}

header.fixed h1 {
display: none;
}
header.fixed h2 img {
width: 212px;
    padding-top: 18px;
    padding-bottom: 2px;
}

header.fixed .top {
    padding-top:0;
}
header.fixed h2 {
padding-bottom:0;
}

header.fixed p.btn-ja {
    padding-top: 10px;
}
header.fixed p.btn-en {
    padding-top: 10px;
}

header.fixed p.btn-zh {
    padding-top: 10px;
}
header.fixed p.btn-th {
    padding-top: 10px;
}
header.fixed .lang {
    margin-top: 15px;
}
header.fixed p.card {
    padding-top: 10px;
}
header.fixed nav {
        padding-top:6px;
}

#header-dammy {
    display: none;
    height:158px;
}




/* contents
----------------------------------------------------------------------------------------------------*/
#main_contents {
    margin-bottom: 30px;
    position: relative;

}

#contents {
    width: 720px;
    float: right;

}

#reserve #contents {
    float: left;
    width: 740px;
}

#contents_center {
    width: 720px;
    margin: 0 auto;

}

/* sidebar
----------------------------------------------------------------------------------------------------*/
#sidebar {

    width: 230px;
    float: left;
}

#sidebar.fixed {
    position: fixed;
    top: 110px;
    z-index: 990;
}

#reserve #sidebar.fixed {
    margin-left: 760px;
}

#sidebar ul {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#sidebar ul li:nth-child(2n) {
    background: #efefef;
}

#sidebar ul li a {
    display: block;
    font-size: 15px;
    padding: 10px 3px 10px 8px;
}

#sidebar ul li a:before {
    content: url(../../images/side_icon.png);
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* フォームの料金 */

#reserve #sidebar {
    float: right;
    width: 260px;
}

#sidebar .price_area {
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 15px;
}

#sidebar .price_area h3 {
    background: #54aadd;
    color: #fff;
    margin-bottom: 15px;
    padding: 4px 5px 3px;
    text-align: center;
    font-size: 16px;
}

#sidebar .price_area h4 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13px;
    border-bottom: 1px solid #999;
}

#sidebar .price_area .box {
    margin-top: 10px;
}

#sidebar .price_area .box.border {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}


#sidebar .price_area .box.kei {
    background: #eee;
    padding: 10px 10px 6px;
}

#sidebar .price_area .box.kei dl.border {}

#sidebar .price_area .box.kei dl:last-child {
    border-top: 1px solid #ccc;
    padding-top: 7px;
    margin-top: 6px;

}

#sidebar .price_area dl {
    display: table;
    width: 100%;
}

#sidebar .price_area dl dt {
    display: table-cell;
    text-align: left;
}

#sidebar .price_area dl dd {
    display: table-cell;
    text-align: right;
}

#sidebar .price_area dl dd.waribiki {
    color: #FF0000;
    text-align: right;
}

#sidebar .price_area dl.sum {
    color: #f00;
    font-size: 17px;
    margin-top: 5px;
}

/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#page_title {
    xtext-shadow: 1px 1px 3px #000;
    color: #fff;
    height: 255px;
    position: relative;
    font-family: "じゅん 201";
}

#page_title h2 {
    font-size: 30px;
    line-height: 1.5;
    padding-top: 100px;
}

#page_title p {
    font-size: 18px;
    line-height: 24px;
}

#price #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#reserve #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#confirm #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#thanks #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#yakkan #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#yakkan-en #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#yakkan-zh #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#tokusyou #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#car #page_title {
    background: url(../../images/page_title_car.jpg) top center no-repeat;
}

#rental #page_title {
    background: url(../../images/page_title_rental.jpg) top center no-repeat;
}

#guide #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#contact #page_title {
    background: url(../../images/page_title_contact.jpg) top center no-repeat;
}

#tourism #page_title {
    background: url(../../images/page_title_tourism.jpg) top center no-repeat;
}

#contact-confirm #page_title {
    background: url(../../images/page_title_contact.jpg) top center no-repeat;
}

#contact-end #page_title {
    background: url(../../images/page_title_contact.jpg) top center no-repeat;
}

#single #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#archive #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#news #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#calendar #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}



#pan {
    background: #f5f5f5;
    padding: 6px 0 6px;
    margin-bottom: 30px;
}

table.style01 {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

table.style01 th {
    border-bottom: 1px solid #ccc;
    background: #efefef;
    padding: 10px 15px;
}

table.style01 td {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;

}

table.style02 {
    width: 92%;
    border-top: 1px solid #ccc;
    margin: 0 auto 20px;
}

table.style02 th:first-child {
    border-left: 1px solid #ccc;
}

table.style02 th {
    border-bottom: 1px solid #ccc;
    background: #efefef;
    padding: 10px 15px;
    text-align: center;
    border-right: 1px solid #ccc;
}

table.style02 td {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.style02 .price {
    font-size: 12px;
    color: #000;
    display: block;
    text-decoration: line-through;
}

table.style02 .disc {
    font-size: 15px;
    color: #F73434;
    font-weight: bold;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0,
        /*右下、左上*/
        #fff -1px 1px 0, #fff 1px -1px 0,
        /*右上、左下*/
        #fff 0px 1px 0, #fff 0-1px 0,
        /*右、左*/
        #fff -1px 0 0, #fff 1px 0 0;
    display: block;
}

.iziModal .iziModal-content {
    padding: 30px 0 10px !important;
}

.iziModal .iziModal-content h2 {
    color: #a00;
    font-size: 18px;
}

/* footer
----------------------------------------------------------------------------------------------------*/
footer .contact_link {
    clear: both;
    width: 510px;
    padding: 5px 10px 3px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
}

footer .contact_link a {
    color: #fff;
}

footer {
    width: 100%;
    background: url(../../images/footer_bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 50px 0 160px;
    position: relative;
    z-index: 99999;
}

footer .left {
    width: 600px;
    float: left;


}

footer .left nav {
    margin-bottom: 80px;
}

footer .right {
    overflow: hidden;
}

footer .right .instagram-btn {
    padding-bottom: 20px;
}

footer .right .instagram-btn a {
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px 20px 7px;
    width: 260px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

footer .right .instagram-btn a:hover {
    background: rgba(255, 255, 255, 0.25);
    text-decoration: none;
}

footer .right .instagram-btn span {
    padding-left: 10px;
}

footer nav ul {
    float: left;
    width: 180px;
}

footer nav ul li {
    margin-bottom: 5px;
}

footer nav ul li a {
    font-size: 13px;
    color: #fff !important;
}

footer nav ul li ul {
    margin-top: 5px;
    margin-bottom: 15px;
}

footer nav ul li ul li {
    list-style: disc;
    margin-left: 2em;
    color: #fff;
}

footer .fb h2 {
    margin-bottom: 15px;
}

footer .address {
    color: #fff;
    clear: both;
    font-size: 14px;
    padding-top: 30px;
}

footer .address h2 {
    margin-bottom: 15px;
}

footer .address iframe {
    width: 530px;
    height: 300px;
}


footer p.bnr {
    width: 330px;
    color: #fff;
    font-size: 12px;
}

footer p.bnr img {
    margin-bottom: 5px;
}

footer .lgbt {
    margin-top: 20px;
}

footer .oneplanet {
    margin-top: 20px;
    background: #fff;
    padding: 5px 10px;
    width: 284px;
}

footer .oneplanet img {
    float: left;
    margin-right: 10px;
}

footer .oneplanet p {
    overflow: hidden;
    font-size: 13px;
    padding-top: 5px;
    line-height: 1.5;
}

footer p.copy {
    font-size: 11px;
    padding-top: 9px;
    color: #fff;
    position: relative;
    top: 40px;

}

#page-top a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    background: #56ade2;
    border-radius: 3px;
    color: #fff;
    display: block;
    width: 50px;
    padding: 10px 10px 10px;
}

/* 共通
----------------------------------------------------------------------------------------------------*/
.headline01 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 4px;
    margin-bottom: 30px;
    color: #5a5655;
    font-size: 32px;
    font-family: "じゅん 201";
}

.headline01 span.small {
    font-size: 20px;
}

.headline01 span.blue {
    color: #0a8bcf;
    font-size: 46px;
}

.headline01 span.small2 {
    font-size: 25px;
    vertical-align: bottom;

}

.headline01 a {
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 30px;
    color: #5a5655;
    font-size: 32px;
    font-family: "じゅん 201";
}

.facebook {
    color: white;
    font-size: 32px;
    font-family: "じゅん 201";
}


/* index
----------------------------------------------------------------------------------------------------*/

/* main_img
----------------------------------------------------------------------------------------------------*/

/* スライド */
#index #main_image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;

}

#index #slider {
    min-height: 400px;
    padding-bottom: 15px;

}

#index #slider .wrapper {
    position: relative;
}

#index #slider .catch {
    position: absolute;
    right: 0px;
    top: 120px;
    text-align: left;
}

#index #slider .catch h3 {

    color: #fff;
    font-size: 30px;
    line-height: 150%;
    font-weight: normal;
    margin-bottom: 20px;
    visibility: hidden;
}

#index #slider #slider_bg2 .catch {
    position: absolute;
    right: -300px;
    top: 180px;
}

#index #slider #slider_bg4 .catch {
    top: 150px;
}

#index #slider #slider_bg2 .catch h3,
#index #slider #slider_bg3 .catch h3,
#index #slider #slider_bg4 .catch h3 {
    text-shadow: none;
    color: #333;
}

#index #slider .catch p.btn a {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 7px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 100%;
    font-size: 18px;
    position: relative;
    background: #0a8bcf;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#index #slider .catch p.btn a:hover {
    text-decoration: none;
    background: #1a9ee3;
}

#index .flexslider .nolink {
    cursor: default;
}

#index #slider .slides li {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#index #main_image.zh #slider_bg1 {
    background: url(../../images/top_slide01.jpg) repeat;
}

#index #main_image.zh #slider_bg2 {
    background: url(../../images/top_slide02.jpg) repeat;
}

#index #main_image.zh #slider_bg3 {
    background: url(../../images/top_slide03.jpg) repeat;
}

#index #main_image.zh #slider_bg4 {
    background: url(../../images/top_slide04.jpg) repeat;
}

#index #main_image.zh #slider_bg5 {
    background: url(../../images/top_slide05.jpg) repeat;
}

#index .ja #slider_bg1 {
    background: url(../../images/top_slide01_ja.jpg) repeat;
}

#index .ja #slider_bg2 {
    background: url(../../images/top_slide02_ja.jpg) repeat;
}

#index .ja #slider_bg3 {
    background: url(../../images/top_slide03_ja.jpg) repeat;
}

#index .ja #slider_bg4 {
    background: url(../../images/top_slide04_ja.jpg) repeat;
}

#index .ja #slider_bg5 {
    background: url(../../images/top_slide05_ja.jpg) repeat;
}

#index .ja #slider_bg6 {
    background: url(../../images/top_slide06_ja.jpg) repeat;
}

#index .ja #slider_bg7 {
    background: url(../../images/top_slide07_ja.jpg) repeat;
}

#index .ja #slider_bg8 {
    background: url(../../images/top_slide08_ja.jpg) repeat;
}


#index .en #slider_bg1 {
    background: url(../../images/top_slide01_en.jpg) repeat;
}

#index .en #slider_bg2 {
    background: url(../../images/top_slide02_en.jpg) repeat;
}

#index .en #slider_bg3 {
    background: url(../../images/top_slide03_en.jpg) repeat;
}

#index .en #slider_bg4 {
    background: url(../../images/top_slide04_en.jpg) repeat;
}

#index .en #slider_bg5 {
    background: url(../../images/top_slide05_en.jpg) repeat;
}

#index .en #slider_bg6 {
    background: url(../../images/top_slide06_en.jpg) repeat;
}

#index .en #slider_bg7 {
    background: url(../../images/top_slide07_en.jpg) repeat;
}

#index .en #slider_bg8 {
    background: url(../../images/top_slide08_en.jpg) repeat;
}

#index .th #slider_bg1 {
    background: url(../../images/top_slide01_th.jpg) repeat;
}

#index .th #slider_bg2 {
    background: url(../../images/top_slide02_th.jpg) repeat;
}

#index .th #slider_bg3 {
    background: url(../../images/top_slide03_th.jpg) repeat;
}

#index .th #slider_bg4 {
    background: url(../../images/top_slide04_th.jpg) repeat;
}

#index .th #slider_bg5 {
    background: url(../../images/top_slide05_th.jpg) repeat;
}

#index #carousel {
    height: 100px;
}

#index #carousel ul {
    width: 650px !important;
    margin: 10px auto !important;
    text-align: center;
}

#index #main_image.ja #carousel ul,
#index #main_image.en #carousel ul {
    width: 1000px !important;
    margin: 10px auto !important;
    text-align: center;
}

#index #carousel .flex-active-slide img {
    opacity: 0.70;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";
}

#index #carousel ul a:hover {
    position: relative;
}


#index .movie_link {
    padding-bottom: 60px;
    position: relative;
}


#index .movie_link a img {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

#index .movie_link a:hover img {
    opacity: 0.8;
}

#index .movie_link .slick-slide {
    margin: 0 10px;
}

#index .movie_link .youtube {
    width: 100%;
    position: relative;
    padding: 56% 0 0 0;
    margin-top: 40px;
}

#index .movie_link .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* トップ車輌 */
#index .topcar {
    margin-bottom: 60px;
}

#index .topcar .topmsg {
    text-align: center;
    color: #0a8bcf;
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 30px;
}


#index .topcar .wrapper {
    width: 1120px;
}

#index .topcar .highclass1 {
    background: #ec6155;
    color: #fff;
    text-align: center;
    padding: 12px 0 10px;
    width: 96%;
    margin: 20px auto 0;
    font-size: 21px;
}

#index .topcar .highclass2 {
    background: #df5726;
    color: #fff;
    text-align: center;
    padding: 12px 0 10px;
    font-size: 21px;
    position: relative;
}

#index .topcar .highclass2 span {
    background: #fff;
    color: #ed1c24;
    font-size: 13px;
    margin-left: 20px;
    padding: 3px 10px;
    position: absolute;
    margin-top: 3px;
    font-weight: bold;

}

#index .topcar .plmclass1 {
    background: #3f3e3c;
    color: #fff;
    text-align: center;
    padding: 12px 0 10px;
    font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif;
    font-size: 22px;
}

#index .topcar h2 .big {
    font-size: 34px;
}

#index .topcar h2 .blue {
    color: #0a8bcf;
    font-size: 34px;
}

#index .premium_class .toptitle {
    display: table;
}

#index .premium_class .toptitle .left {
    width: 369px;
    display: table-cell;
}

#index .premium_class .toptitle .center {
    width: 262px;
    display: table-cell;
    background: #c89c5d;
    vertical-align: top;
    text-align: center;
}

#index .premium_class .toptitle .right {
    width: 369px;
    display: table-cell;
}

#index .premium_class .toptitle .center h3 span {
    font-size: 14px;
}

#index .premium_class .toptitle .center h3 {
    font-size: 18px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif;
}

#index .premium_class .toptitle .center img {
    margin-top: -5px !important;
}

#index .premium_class .toptitle .center h4 {
    font-size: 30px;
    color: #1a1a1a;
    font-weight: bold;
}

#index .premium_class .toptitle .center p {
    font-size: 13px;
    color: #fff;
}

#index .premium_class .toptitle .center h4 span {
    font-size: 15px;
}

#index .premium_class .topcontent {
    background: #d8c5a4;
    padding: 24px 65px 4px;

}

#index .premium_class .topcontent .box {
    background: #fff;
    position: relative;

}

#index .premium_class .topcontent .box .wifi {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 52px;
}

#index .premium_class .topcontent .box .oneplanet {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 50px;
}

#index .premium_class .topcontent .box .oneplanet img {
    width: 100%;
    height: auto;
}

#index .premium_class .topcontent .left {
    float: left;
    padding-top: 20px;
    padding-left: 12px;
}

#index .premium_class .topcontent .left a:hover img {
    opacity: 0.5;
}

#index .premium_class .topcontent .center {
    float: left;
    padding-left: 2px;
}






#index .premium_class .topcontent .inside img {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(1);
    /* 1.2倍の大きさで表示 */
    transform: scale(1);
}


#index .premium_class .topcontent .inside {
    overflow: hidden;
    margin: 10px 8px 10px 16px;
    position: relative;
}

#index .premium_class .topcontent .caption {
    font-size: 120%;
    color: #fff;
    padding-top: 11px;
    text-align: center;
}

#index .premium_class .topcontent .mask {
    width: 100%;
    height: 50px;
    line-height: 2;
    position: absolute;
    top: -80px;
    /* 枠の上に置いて表示しない */
    left: 0;
    background-color: #0a8bcf;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5px;
}

#index .en .premium_class .topcontent .mask {
    height: 60px;
    line-height: 1.3;
    top: -90px;
    /* 枠の上に置いて表示しない */

}

#index .premium_class .topcontent .inside .mask:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: #0a8bcf transparent transparent transparent;
    border-width: 20px 10px 0 10px;
}

#index .premium_class .topcontent .inside:hover .mask {
    top: 0px;
    /* 下に降りてくるように見せる */
}

#index .premium_class .topcontent .inside:hover img {
    margin-top: 20px;
    /* 画像の絵を下にずらす */
    -webkit-transform: scale(1);
    /* 元の大きさに戻す */
    transform: scale(1);
}

#index .premium_class .topcontent .right {
    float: left;
    width: 270px;
    padding-top: 30px;
    margin-left: 15px;
}

#index .premium_class .topcontent .right h3 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

#index .premium_class .topcontent .right h4 {
    margin: 0 auto 25px;
    border: 1px solid #29abe2;
    color: #29abe2;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

#index .premium_class .topcontent .right dl {
    font-size: 14px;
    padding: 4px 5px 0px;
    border-top: 1px solid #eee;
}

#index .premium_class .topcontent .right dl dt {
    float: left;
    width: 80px;
}

#index .premium_class .topcontent .right dl dd {
    float: left;
}

#index .premium_class .topcontent .right dl:first-of-type {
    border-top: none;
}

#index .premium_class .topcontent .right dl:last-of-type {
    border-bottom: 1px solid #eee;
}

#index .premium_class .topcontent .bottom {
    width: 380px;
    margin: 0 auto;
}

#index .premium_class .topcontent .bottom ol {
    border-top: none;
    padding-bottom: 20px;
}

#index .topcar p.catch {
    text-align: center;
    margin-bottom: 40px;
    margin-top: -14px;
    font-family: "じゅん 201";
}

#index .topcar p.wifi {
    text-align: center;
    xmargin-bottom: 40px;
    margin-top: 42px;
    font-size: 21px;

    font-family: "じゅん 201";
}

#index .topcar p.wifi img {
    padding-right: 10px;
}


#index .topcar ul {
    overflow: hidden;
    margin: 0 auto;
    width: 96%;
}

#index .topcar ul.col3 li {
    width: 285px;
    margin-right: 51px;
    float: left;
}

#index .topcar ul.col2 li {
    width: 320px;
    margin-right: 80px;
    margin-left: 80px;
    float: left;
}

#index .topcar .petsok {
    display: block;
    margin: 0 auto 5px;
    /* padding-top: 20px; */
    width: 130px;
}

#index .topcar ul.col3 li:nth-child(3) {
    margin-right: 0px;
}

#index .topcar ul li img {
    max-width: 100%;
}

#index .topcar .comment {
    text-align: center;
}

#index .topcar .comment span {
    background: #f0f0f0;
    text-align: left;
    display: inline-block;
    padding: 6px 10px 5px;
    color: #555;
}

.rubi {
    position: relative;
    top: -1px;
    font-size: 14px;
}

#index .topcar .catch {
    text-align: center;
    color: #5a5655;
    font-size: 25px;
}

#index .topcar .catch span.small {
    font-size: 18px;
    display: block;
    xmargin-top: -5px;
}

#index .topcar .catch span.blue {
    color: #0a8bcf;
    font-size: 32px;
}

#index .topcar ul li h3 {
    font-size: 22px;
    text-align: center;
    line-height: 1;
    min-height: 40px;
    xpadding-left: 48px;
    xmargin-left: 20px;
    font-family: "じゅん 201";
    position: absolute;

}

#index .topcar ul li p {
    font-size: 13px;
    text-align: center;
}

#index .topcar ul li h3 span {
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
}

#index .topcar ul li h5 {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #0a8bcf;
    color: #0a8bcf;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

#index .topcar ul li .petok:after {
    content: "ペットOK";
    background: #df5726;
    font-size: 13px;
    padding: 5px 7px 4px;
    top: 6px;
    margin-left: 9px;
    color: #fff;
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    z-index: 99;
}

#index .topcar ul li .petok-en:after {
    content: "PET OK";
    background: #df5726;
    font-size: 13px;
    padding: 5px 7px 4px;
    top: 6px;
    margin-left: 9px;
    color: #fff;
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    z-index: 99;

}

#index .topcar ul li .inside.mb {
    margin-bottom: 42px;
}

#index .topcar ul li .inside img {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(1);
    /* 1.2倍の大きさで表示 */
    transform: scale(1);
}

#index .topcar ul li h3 {
    position: relative;
    color: #0a8bcf;
    margin-top: 25px;


}

#index .topcar ul li h3 a {
    color: #0a8bcf;
    text-decoration: none;
}


#index .topcar ul li .inside {
    overflow: hidden;
    position: relative;
}

#index .topcar ul li .inside .caption {
    font-size: 130%;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}

#index .topcar ul li .inside .mask {
    width: 100%;
    height: 50px;
    line-height: 2;
    position: absolute;
    top: -80px;
    /* 枠の上に置いて表示しない */
    left: 0;
    background-color: #0a8bcf;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5px;
}

#index .topcar.en ul li .inside .mask {
    height: 60px;
    top: -90px;
    /* 枠の上に置いて表示しない */
    line-height: 1.3;
}

#index .topcar ul li .inside .mask:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: #0a8bcf transparent transparent transparent;
    border-width: 20px 10px 0 10px;
}

#index .topcar ul li .inside:hover .mask {
    top: 0px;
    /* 下に降りてくるように見せる */
}

#index .topcar ul li .inside:hover img {
    margin-top: 20px;
    /* 画像の絵を下にずらす */
    -webkit-transform: scale(1);
    /* 元の大きさに戻す */
    transform: scale(1);
}

/*
#index .topcar ul li h3:before {
    content: url(../../images/icon_key.png);
    display: inline-block;
    vertical-align: middle;
    xmargin-right: 10px;
        position:absolute;
    left: 0px;
    top:0;
}
*/
#index .topcar ul li .sub {
    font-size: 13px;
    color: #666;
    display: block;
    line-height: 1.4;
    text-align: center;
    padding-top: 2px;
}

#index .topcar ul li figure {
    text-align: center;
    height: 150px;
}

#index .topcar ul li figure img {
    width: 238px;
    height: 141px;
}

#index .topcar ul li h4 {
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "じゅん 201";
}

#index .topcar ul li p.info {
    line-height: 1.6;

    font-size: 13px;
    min-height: 160px;
}

#index .topcar ul li dl:last-of-type {
    border-bottom: 1px solid #eee;
}

#index .topcar ul li dl {
    font-size: 13px;
    padding-bottom: 3px;
    padding-top: 4px;
    border-top: 1px solid #eee;
}

#index .topcar ul li dl dt {
    width: 6em;
    float: left;
}

#index .topcar ul li dl dd {
    overflow: hidden;
}

#index .topcar ul li figure img:hover {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

#index .topcar ol {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 0px 0px 20px 0;
    overflow: hidden;
}

#index .topcar ol li {
    float: left;
    width: 174px;
    margin-right: 11px;
    padding-bottom: 5px;
}

#index .topcar ol li:last-child {
    margin-right: 0px;
}

#index .topcar .highclass_btn a {
    float: left;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    line-height: 100%;
    width: 48%;
    font-size: 14px;
    xposition: relative;
    font-family: "新ゴ M";
    color: #565656;
    box-shadow: 1px 1px 0px 0px #ddd;
    margin-bottom: 50px;
    margin-top: 25px;

}

#index .topcar .highclass_btn a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

#index .topcar .plemclass_btn a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

#index .topcar .highclass_btn .btn2 {}

#index .topcar .highclass_btn .btn3 {
    padding-left: 2%;
}

#index .topcar .plemclass_btn a {
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 100%;
    font-size: 14px;
    position: relative;
    font-family: "新ゴ M";
    color: #565656;
    box-shadow: 1px 1px 0px 0px #ddd;
}









#index .topcar ol li a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

#index .topcar .btn1 a {
    background: #d2d2d2;
    font-weight: bold;
}

#index .topcar .btn2 a {
    background: #4fb8fb;
    color: #fff;
    font-weight: bold;
    margin-right: 2%;
}

#index .topcar .btn3 a {
    background: #f8db83;
    font-weight: bold;
}



.form_btn a {
    width: 450px;
    margin: 40px auto 0;
    display: block;

    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px 5px 16px 20px;
    line-height: 100%;
    box-shadow: 2px 2px 0px 0px #ddd;
    position: relative;
    font-size: 20px;
    background: #0a8bcf;
    color: #fff;
}

.form_btn a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

.lang-btn {
    margin: 0 auto;
    display: block;
    width: 800px;
}

.lang-btn li {
    float: left;
}

.lang-btn li:nth-child(1) {
    margin-right: 20px;
    float: left;
}

.lang-btn li:nth-child(2) {
    margin-right: 20px;
    float: left;
}

.form_en_btn a {
    width: 224px;
    margin: 10px auto 0;
    display: block;
    margin-bottom: 25px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px 5px 16px 20px;
    line-height: 100%;
    box-shadow: 2px 2px 0px 0px #ddd;
    position: relative;
    font-size: 20px;
    background: #c31731;
    color: #fff;
}

.form_en_btn a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}




/* copy */
#index .catch1 {
    background: url(../../images/top_bg01.jpg) top center;

    height: 111px;
    padding-top: 81px;
    text-align: center;
    font-size: 26px;
    font-family: "じゅん 201";
    color: white;

}

#index .catch2 {
    background: url(../../images/top_bg02.jpg) top center no-repeat;
    background-size: cover;
    height: 171px;
    padding-top: 30px;
    text-align: center;
    font-size: 26px;
    font-family: "じゅん 201";
}

#index .catch2 span {
    text-shadow: 2px 2px 4px #000;
    color: #fff;
}

#index .catch2 .btn {
    display: block;
    position: absolute;


    width: 450px;
    margin: 20px auto 0;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px 5px 16px 20px;
    line-height: 1.3;
    box-shadow: 2px 2px 0px 0px #ddd;
    position: relative;
    font-size: 20px;
    background: #012a40;
    color: #fff;

}


#index .catch2 .btn:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

#index .instagram {
    position: relative;
    width: 100%;

}

#index .instagram ul li {
    display: block;
    width: 20%;
    height: auto;
    float: left;

}

#index .instagram p.text {
    font-size: 36px;
    color: #fff;
    z-index: 9999;
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px #000;


}

#index .instagram .more-btn a {
    color: #FFF;
    border-radius: 7px;
    z-index: 9999;
    position: absolute;
    top: 68%;
    left: 50%;
    text-decoration: none;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: #0a8bcf;
    background: #fff;
    border: double 4px #67c5ff;
    padding: 10px 40px 7px 40px;
    ;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;

}

#index .instagram .more-btn a:hover {
    background: #fff;
    color: #fff;
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 60%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 60%) no-repeat;
    border: double 4px #f13f79;

}

#index .instagram ul {
    font-size: 20px;
    color: #fff;

}

#index .instagram ul li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";

}

#index .instagram ul li img {
    width: 100%;
    height: auto;
}


/* ポイント */
#index .point {
    margin-top: 60px;
    margin-bottom: 60px;
}

#index .point h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

#index .point h3 {
    color: #0a8bcf;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;

}

#index .point ul {
    margin-right: -30px;
    overflow: hidden;
}

#index .point ul li {
    width: 285px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

#index .point ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#index .point ul li p.text {
    font-size: 13px;
    line-height: 1.6;
    margin-top: 5px;
}

#index .point ul li a {
    text-decoration: underline;
}

#index .point ul li a:hover {
    color: #f00;
}

/* おしらせ */
#index .info .post {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 470px;
    float: left;
}

#index .info .post h2 {
    font-size: 28px;
}

#index .info .news {
    margin-right: 70px;
}

/*
#index .post h2 {
    font-size: 15px;
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    padding-bottom: 15px;
    margin-bottom: 30px;
}*/
#index .post dl {
    padding: 8px 10px;
    font-size: 14px;
    display: table;
}

#index .post dl {
    width: 96%;
    border-bottom: 1px dashed #ddd;
}

#index .post h2 {
    margin-bottom: 20px;


}

#index .post dl dt {
    width: 70px;
    display: table-cell;
    padding-right: 20px;
    vertical-align: middle;

}

#index .blog.post dl dt p {
    background: url(../../images/nophoto_thumb.jpg) no-repeat;
    height: 46px;
}

#index .post dl dt img {
    width: 70px;
    height: auto;
}

#index .post dd {
    display: table-cell;
    vertical-align: middle;
}

#index .post dl a {
    text-decoration: none;
}

#index .post dl a:hover {
    text-decoration: underline;
    color: #00f;
}

#index .post dl dd a {
    text-decoration: none;
}

#index .post dl dd p {
    margin-bottom: 1em;
}


/* price
----------------------------------------------------------------------------------------------------*/

/* カレンダー */
#price section.cal {
    font-size: 14px;
    margin-bottom: 50px;

}

#price section.cal h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    xpadding-bottom: 25px;
    margin-bottom: 30px;
}

#price section.cal .season {
    margin-right: -10px;
    overflow: hidden;
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 10px;
}

.red_text {
    color: #F73434;
    font-size: 17px;
}

#price section.cal .red_text {
    color: #F73434;
    font-size: 13px;
}

.mw_wp_form .error {
    font-size: 14px;
    background: #B70000;
    display: block;
    color: #fff !important;
    text-align: center;
}

section .tax {
    text-align: right;
    clear: both;
    font-size: 12px;
}

#price section.cal .season .tax {
    position: relative;
    top: -20px;

}

#price section.cal .season dl {
    width: 220px;
    margin-bottom: 20px;
    float: left;
    margin-right: 10px;
}

#price section.cal .season dl dt {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
}

#price section.cal .season dl dt.color7 {
    top: -2px;

}

#price section.cal .season dl dd {
    float: left;
    width: 180px;
    padding-top: 3px;
}

#price section.cal dl dd span {
    display: block;
    font-size: 14px;
}

.mw_wp_form .error {
    color: #f84343;
}

.color1 {
    border: 1px solid #d2d2d2;
    background: #fff;
}

.color2 {
    background-color: #ccc;
}

.color3 {
    background-color: #95fcf8;
}

.color4 {
    background-color: #00a0e9;
    color: #fff !important;
}

.color5 {
    background-color: #76f94e;
}

.color6 {
    background-color: #f1eb8f;
}

.color7 {
    background-color: #fc8a95;
    color: #fff;
}

.color8 {
    background-color: #ff9827;
}

#price section.cal div.yearArea {
    overflow: hidden;
    margin-right: -13px;
    margin-bottom: -20px;
}

#price section.cal div.yearArea .sbc-calendar-month {
    width: 162px;
    float: left;
    margin-right: 13px;
    min-height: 220px;
}

#price section.cal div.yearArea div.sbc-navigation {
    padding-left: 5px;
    border-bottom: 1px solid #777;
    padding-bottom: 3px;
    margin-bottom: 5px;
    font-weight: bold;

}

#price section.cal div.yearArea div.sbc-navigation:after {
    /*content: "月"*/
}

#price section.cal div.yearArea table tr th,
#price section.cal div.yearArea table tr td {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 3px solid #fff;
    line-height: 1;
    text-align: center;
    font-size: 12px;
}

#price section.cal div.yearArea table tr th {
    color: #fff;
    background-color: #3881ab
}

#price section.cal div.yearArea table tr td.sbc-status-on_free {
    background-color: #fff
}

#price section.cal div.yearArea table tr td.sbc-status-high {
    background-color: #76f94e
}

#price section.cal div.yearArea table tr td.sbc-status-golden {
    background-color: #f1eb8f
}

#price section.cal div.yearArea table tr td.sbc-status-off_syuku {
    background-color: #ccc
}

#price section.cal div.yearArea table tr td.sbc-status-on_tsu {
    background-color: #95fcf8
}

#price section.cal div.yearArea table tr td.sbc-status-on_syuku {
    background-color: #00a0e9;
    color: #fff;
}

#price section.cal div.yearArea table tr td.sbc-status-winter {
    background-color: #ff9827;
}

#price section.cal div.yearArea table tr td.sbc-status-sale {
    background-color: #fc8a95;
    color: #fff;
}

#price section.cal > p {
    color: #f84343
}

#price section.cal div.yearArea table tr td a:hover {
    color: red;
    text-decoration: none;
}

.iziModal .iziModal-header-title {
    color: #000 !important;
}

.iziModal .iziModal-header-subtitle {
    color: #000 !important;
}

/* 料金表 */
#price section.pricetable {
    margin-bottom: 50px;

}


#price section.pricetable .box {
    display: table;
    text-align: right;
}

#price section.pricetable .left {
    display: table-cell;
    width: 50%;
}

#price section.pricetable .right {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    padding-top: 10px;
    margin-right: auto;
}

#price section.pricetable .right p {
    padding-left: 25px;
    text-align: left;
}

#price section.pricetable .right p.wifi {
    font-size: 13px;
    /* padding-right: 12px; */
    padding-top: 3px;
    text-align: right;
}

#price section.pricetable a.link {
    color: #00f;
    text-decoration: underline;
    padding-left: 15px;
}

#price section.pricetable p.wifi img {
    margin-left: 5px;
}

#price section.pricetable h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    xpadding-bottom: 25px;
    margin-bottom: 30px;
}

#price section.pricetable .highclass {
    display: block;
    width: 340px;
    margin: 0 auto 40px;

}

#price section.pricetable .plemclass {
    display: block;
    width: 340px;
    margin: 40px auto 40px;

}



#price section.pricetable h3 {
    font-size: 24px;
    display: inline-block;
    margin-left: 10px;
}

#price section.pricetable h3 span {
    font-size: 16px;
    display: inline-block;
    padding-right: 10px;
}

#price section.pricetable h3 img {
    padding-left: 10px;
}

#price section.pricetable table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#price section.pricetable p.tyuui {
    margin-bottom: 30px;
    font-size: 13px;
}

#price section.pricetable table th {
    text-align: left;
    padding: 6px 20px;
}

#price section.pricetable table td {
    padding: 6px;
    text-align: center;
}

#price section.pricetable table td .price {
    font-size: 12px;
    color: #000;
    display: block;
    text-decoration: line-through;
}

#price section.pricetable .camp {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #F73434;
    padding-top: 40px;
}

#price section.pricetable table td .disc {
    font-size: 15px;
    color: #F73434;
    font-weight: bold;
    text-shadow:
        #fff 1px 1px 0, #fff -1px -1px 0,
        /*右下、左上*/
        #fff -1px 1px 0, #fff 1px -1px 0,
        /*右上、左下*/
        #fff 0px 1px 0, #fff 0-1px 0,
        /*右、左*/
        #fff -1px 0 0, #fff 1px 0 0;
    /*上、下*/
    display: block;
}

#price section.pricetable table .h {
    background: #eeeeee;
    font-weight: bold;
}

#price section.pricetable p.text {
    margin-bottom: 30px;
    line-height: 1.7;
}

#price section.pricetable h4 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
}

/* 割引 */
#price section.discount {
    margin-bottom: 50px;

}

#price section.discount h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    xpadding-bottom: 25px;
    margin-bottom: 30px;
}

#price section.discount table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#price section.discount table th {
    padding: 15px 20px;

    background: #eeeeee;

}

#price section.discount table td {
    padding: 15px 20px;
    background: #eeeeee;


}


/* 料金例 */
#price section.example {
    margin-bottom: 50px;

}

#price section.example h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    xpadding-bottom: 25px;
    margin-bottom: 30px;
}

#price section.example ul {
    width: 420px;
    margin: 0 auto 50px;
}

#price section.example ul li {
    text-align: center;
    width: 140px;
    float: left;
}

#price section.example ul li img {
    margin-top: 5px;
    text-align: center;

}

#price section.example .item {
    padding-left: 30px;
    padding-bottom: 10px;
    width: 450px;
    margin: 0 auto;

}

#price section.example .item .left {
    width: 250px;
    float: left;
    font-size: 15px;
    padding-top: 10px;
}

#price section.example .item .left h4 {
    font-size: 32px;
    margin-bottom: 10px;
}

#price section.example .item .right {
    width: 200px;
    float: left;
}

#price section.example table {
    width: 600px;

    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin: 10px auto 50px;

}

#price section.example table th {
    padding: 7px 20px;
    text-align: center;

    background: #eeeeee;

}

#price section.example table td {
    padding: 7px 20px;
    text-align: center;
    background: #eeeeee;
}

#price section.example table .nobg {
    background: none;
}

#price section.example table .red {
    color: #F73434;
}

#price section.example table .red span {
    margin-right: 6em;
    font-weight: bold;
}

/* Google カレンダー */
#price section.empty {
    margin-bottom: 60px;

}

#price section.empty h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

#price section.empty ul {
    margin: 0 60px;

}

#price section.empty ul li h4.blue {
    background: #0a8bcf;
}

#price section.empty ul li h4.green {
    background: #3fc317;
}

#price section.empty ul li h4.yellow {
    background: #f4c900;
}

#price section.empty ul li h4 {
    position: relative;
    background: #0a8bcf;
    border-radius: 5px;
    padding: 0.2em 1em;
    color: #fff;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#price section.empty ul li h4 img {
    position: absolute;
    right: 10px;
    top: -38px;

}

#price section.empty ul {
    margin-bottom: 0px;
}

#price section.empty ul li {
    margin-bottom: 70px;
}

#price section.empty ul li:last-child {
    margin-bottom: 30px;
}

#price section.empty ul li div {
    margin-top: 20px;
    position: relative;
    width: 100%
}

#price section.empty ul li div:before {
    content: "";
    display: block;
    padding-top: 100%
}

#price section.empty ul li iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#price section.empty p.text {
    margin: 0 60px;
}

/*フォーム */
#price section.form {
    margin-bottom: 60px;

}

#price section.form hr {
    border: 0;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;

}

.form .war {
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
    border: 2px solid red;
}

#price section.form label {
    cursor: pointer;
}

#price section.form span.hd {
    margin-left: 0.2em
}

#price section.form span.hd a {

    color: #33F;
    text-decoration: underline;
}

#price section.form.confirm td img {
    display: none
}

#price section.form .pet_comment {
    padding-left: 26px;
}

#confirm section.form .tax {
    display: none;
}

#price section.form.confirm span.hd {
    display: none
}

#price section.form.sent p {
    padding-bottom: 100px
}

#price section.form > div > p > span {
    color: #f84343;
    font-weight: bold
}

@media print,
screen and (min-width: 737px) {
    #price section.form > div > p {
        margin-left: 15px
    }
}

#price section.form table {
    width: 100%;

    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
}

#price section.form table .small {
    font-size: 12px;
    padding-top: 5px;
    display: inline-block;
}

#price section.form table .small2 {
    font-size: 12px;
    padding-top: 5px;
}

#price section.form table .box {
    margin-top: 7px;
    margin-bottom: 7px;
}

#price section.form table .box p {
    font-size: 12px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-indent: -1em;
}

#price section.form table .box p.red {
    color: #f00;
    font-size: 14px;
    border: 1px solid #f00;
    padding: 3px 10px 1px;
    text-indent: 0em;
}

#price section.form ul.carlist {
    padding-top: 10px;
}

#price section.form ul.carlist li {
    xmargin-bottom: 14px;
}

#price section.form ul.carlist li:last-child {
    margin-bottom: 5px;
}

#price section.form ul.carlist li .left {
    float: left;
}

#price section.form ul.carlist li .right {
    float: left;
    padding-left: 10px;

}

#price section.form ul.carlist li img {
    margin-top: -7px;
}

#price section.form table th {
    text-align: left;
    padding: 10px 10px 10px 15px;
    width: 220px;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

#price section.form table th .cdw {
    line-height: 1.8;
    font-size: 15px;

}

#price section.form table th .cdw a {
    font-size: 17px;
    text-decoration: none;
    padding-left: 5px;
    line-height: 1.8;
}

#price section.form table p.red {
    color: #f00;
    font-size: 16px;
    xpadding-left: px;
    margin-left: -10px;
}

#price section.form table th a {
    font-size: 11px;
    color: #33F;
    text-decoration: underline;
}

#price section.form table td {
    padding: 10px 15px;
    background-color: #f6f6f6;
}

#price section.form table td .japan h3,
#price section.form table td .abroad h3 {
    background: #54aadd;
    padding: 7px 10px 5px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#price section.form table td .abroad ul li,
#price section.form table td .japan ul li {
    padding-left: 2em;
    text-indent: -2em;
    padding-top: 5px;
}

#price section.form table td .abroad ul li label,
#price section.form table td .japan ul li label {
    line-height: 1.7;

}


#price section.form table td a {
    font-size: 12px;
    color: #33F;
    text-decoration: underline;
}

#price section.form table td h4 {
    margin-bottom: 8px;
}

#price section.form table td ul.goods li {
    height: 32px;
}

#confirm #price section.form table td ul.goods li {
    min-height: auto;
}

#price section.form table td ul.goods li select {
    padding: 0px 0 3px;

}

#price section.form table th > span {
    display: none
}

#price section.form table th > span:last-child {
    display: block
}


#price section.form table td.pd1 {
    padding-top: 1.0em;
    padding-bottom: 1.0em
}

#price section.form table td input[type="text"] {
    width: 120px;
    padding: 0.4em 5px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 16px;
}

#price section.form table td input[type="text"].w3 {
    width: 35px
}

#price section.form table td input[type="text"].w5 {
    width: 50px
}

#price section.form table td input[type="text"].w7 {
    width: 70px
}

#price section.form table td input[type="text"].w16 {
    width: 160px
}

#price section.form table td input[type="text"].w18 {
    width: 180px
}

#price section.form table td input[type="text"].w25 {
    width: 250px
}

#price section.form table td input[type="text"].w30 {
    width: 310px
}

#price section.form table td input[type="text"].w43 {
    width: 430px
}

#price section.form table td input[type="email"] {
    padding: 0.4em 3px;
    box-sizing: border-box
}

#price section.form table td input[type="email"] {
    width: 430px
}

#price section.form table td input[type="button"] {
    padding: 0 5px;
}

#price section.form table td input[type="radio"] {
    margin-right: 7px;
    position: relative;
    top: 1px;
}

#price section.form table td input[type="checkbox"] {
    margin-right: 7px;
    position: relative;
    top: 1px;
}

#price section.form table td select {
    box-sizing: border-box;
    width: 250px;
    padding: 0.3em 5px 0.5em;
    font-size: 16px;
}

#price section.form table td select .active {
    color: #ccc;
}

#price section.form table td select.w5 {
    width: 50px
}

#price section.form table td select.w6 {
    width: 60px
}

#price section.form table td select.w10 {
    width: 100px
}

#price section.form table td select.w15 {
    width: 150px
}

#price section.form table td textarea {
    box-sizing: border-box;
    padding: 5px 5px;
}

#price section.form table td textarea {
    width: 430px
}

#price section.form table td > span.small {
    display: inline-block;
    vertical-align: top
}

#price section.form table td > ul > li {
    margin-top: 0.5em
}

#price section.form table td > ul > li:first-child {
    margin-top: 0
}

#price section.form table td > ul > li img {
    width: 90px;
    vertical-align: middle;
    padding-right: 10px;
}

#price section.form table td ul li input[type="text"] {
    margin: 0 0.2em;
    display: inline-block;
    vertical-align: middle
}

#price section.form table td ul li input[type="text"].address {
    margin: 0
}

#price section.form table td ul.goods li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    display: table;
    vertical-align: middle;
}

#price section.form table td > ul.emergency > li {
    display: inline-block
}

#price section.form table td .text-indent {
    text-indent: -1em;
    padding-left: 1em;
}

#price section.form table td .red {
    color: #FF0000;
}

input[type="submit"],
.backbtn {
    display: inline-block;
    margin: 20px 10px;
    xdisplay: block;
    background: #fff;
    width: 130px;
    padding: 8px 0;
    border: 1px solid #0a8bcf;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="submit"]:hover,
.backbtn:hover {
    background: #0a8bcf;
    color: #fff;
}

.mw_wp_form_confirm table input[type="button"i] {
    display: none;
}

#confirm section.form table span,
#confirm section.form table a,
#confirm section.form table td img,
#confirm section.form table em {
    display: none !important;
}

#thanks section p {
    margin-bottom: 2em;
}

#price p.form_btn {
    text-align: center;
}

#price p.form_btn a {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 7px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 100%;
    font-size: 18px;
    position: relative;
    background: #0a8bcf;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#price p.form_btn a:hover {
    text-decoration: none;
    background: #1a9ee3;
}

::-webkit-input-placeholder {
    font-size: 13px;
    padding-left: 3px;
}

::-moz-placeholder {
    font-size: 13px;
    padding-left: 3px;
}

:-ms-input-placeholder {
    font-size: 13px;
    padding-left: 3px;
}

/* 確認画面 */

table.formTable {
    width: 100%;
    margin: 0 auto 30px;
    border-collapse: collapse;
}

table.formTable td,
table.formTable th {
    border: 1px solid #ccc;
    padding: 10px;
}

table.formTable th {
    width: 30%;
    font-weight: normal;
    background: #efefef;
    text-align: left;
}

p.error_messe {
    margin: 5px 0;
    color: red;
}

/* 予約フォーム
----------------------------------------------------------------------------------------------------*/
#reserve #contents_center {
    width: 1000px;
}

#reserve .calender {
    margin-bottom: 70px;

}

#reserve .calender h2 {
    text-align: center;
    margin: 20px 0 0px;

}

#reserve .calender ul {
    margin-right: -50px;
    margin-bottom: 0px;
    xoverflow-x: hidden;
}

#reserve .calender ul li {
    margin-right: 50px;
    margin-top: 70px;
    width: 470px;
    float: left;
    position: relative;
}

#reserve .calender ul li div {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 400px;
}

#reserve .calender ul li iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#reserve .calender ul li h4.blue {
    background: #0a8bcf;
}

#reserve .calender ul li h4.green {
    background: #3fc317;
}

#reserve .calender ul li h4.yellow {
    background: #f4c900;
}

#reserve .calender ul li h4.red {
    background: #c31731;
}

#reserve .calender ul li h4 {
    position: relative;
    background: #0a8bcf;
    border-radius: 5px;
    text-align: left;
    padding: 0.2em 1em;
    color: #fff;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#reserve .calender ul li h4 img {
    position: absolute;
    right: 10px;
    top: -38px;

}

#reserve .calender p.text {
    margin-top: 30px;
    clear: both;
}

#reserve .calc ul {
    margin-bottom: 80px;
    margin-left: 30px;
}

#reserve .calc ul li {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    background: #0a8bcf;
    margin-right: 80px;
    color: #fff;
    width: 260px;
    height: 125px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;

}

#reserve .calc ul li:first-child:after {
    position: absolute;
    content: url(../../images/calc_plus.png);
    margin: 10px;
    top: 40px;
    right: -80px;
}



#reserve .calc ul li:last-child:after {
    position: absolute;
    content: url(../../images/calc_equal.png);
    margin: 10px;
    top: 40px;
    left: -80px;
}

#reserve .calc ul li:last-child {
    margin-right: 0px;
}

#reserve .calc ul li p {
    font-size: 18px;
}

#reserve .calc ul li .mt {
    padding-top: 10px;
}

#reserve .calc ul li .kei {
    padding-top: 5px;
    font-size: 24px;
}

#reserve #warmsg {
    color: red;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
    border: 2px solid red;
}



/* 約款
----------------------------------------------------------------------------------------------------*/

#yakkan section {
    margin-bottom: 50px;
}

#yakkan section h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

#yakkan section h4 {
    font-weight: bold;
    margin-top: 3.0em;
    font-size: 20px;
    margin-bottom: 30px;
}

#yakkan section h5 {
    font-weight: bold;
    margin-top: 25px;
    font-size: 15px;
    margin-bottom: 10px;
}

#yakkan section p {
    margin-top: 2.5em
}

#yakkan section ul {
    counter-reset: cnt3
}

#yakkan section ul > li {
    margin-top: 1.5em;
    text-indent: -1.8em;
    padding-left: 1.8em
}

#yakkan section ul > li:first-child {
    margin-top: 0
}

#yakkan section ul > li:before {
    counter-increment: cnt3;
    content: counter(cnt3) ".";
    margin-right: 0.8em
}

/* car
----------------------------------------------------------------------------------------------------*/
#car {
    padding-bottom: 40px;
}

#car section.car .form_btn a {
    margin: 40px auto 40px !important;
}

#car section.car section {
    margin-bottom: 80px;
}

#car section.car h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    xpadding-bottom: 40px;
    margin-bottom: 20px;
}

#car section.car h2 .plmclass p {
    width: 600px;
}

#car section.car h2 .highclass p {
    width: 600px;
}

#car section.car h3 {
    margin-bottom: 25px;
    color: #0a8bcf;
    font-size: 22px;
    text-align: center;
}

#car section.car .big {
    font-size: 28px;
    margin-bottom: 0px;
    font-weight: bold;
}

#car .car .main_photo {
    margin-bottom: 10px;
}

#car .car .pet-hosoku {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

#car .car .pet-hosoku span {
    top: -15px;
    left: 15px;
    position: relative;
}

#car .car .wifi-hosoku img {
    padding-right: 5px;
}

#car .car .wifi-hosoku {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

#car .car .wifi img {
    padding-right: 20px;
}

#car .car .oneplanet {
    text-align: right;
    margin-top: -80px;
    margin-right: 30px;
    padding-bottom: 10px;

}

#car .car .oneplanet img {
    width: 50px;
    height: auto;
}

#car .car .wifi {
    margin-bottom: 10px;
    font-size: 19px;
    padding-left: 14px;
    font-weight: bold;
}

#car .car table.info {
    width: 100%;
    border-top: #0a8bcf 1px solid;
    border-right: #0a8bcf 1px solid;
    margin-bottom: 30px;
    font-size: 13px;

}


#car .car table.info th {
    border: #0a8bcf 1px solid;
    padding: 5px 15px;
    background: #dcf0ff;
}

#car .car table.info td {
    border-bottom: #0a8bcf 1px solid;
    padding: 5px 15px;

}


#car .car table.checktable {
    border: #0a8bcf 1px solid;
    width: 100%;
    x margin-bottom: 50px;
    font-size: 12px;
}

#car .car .kome1 {
    color: #f00;
    padding-top: 5px;
}

#car .car .kome2 {
    color: #f00;
    margin-top: -10px;
}

#car .car .mb {
    margin-bottom: 50px;
}

#car .car table.checktable caption {
    font-size: 18px;
    color: #0a8bcf;
    margin-bottom: 10px;
}

#car .car table.checktable th {
    width: 350px;
    border: #0a8bcf 1px solid;
    padding: 3px 15px;
}

#car .car table.checktable td {
    width: 20px;
    text-align: center;
    border: #0a8bcf 1px solid;
    padding: 3px 15px;
}

#car .camera ul {
    margin-bottom: 30px;
}

#car .camera ul li {
    margin-bottom: 20px;
}

#car .camera ul li h4 {
    font-size: 15px;
}

#car .camera iframe {
    width: 100%;
    height: 250px;
}

#car .car .gallery {}

#car .car .gallery ul {
    overflow: hidden;
    margin-right: -30px;
}

#car .car .gallery ul li {
    margin-right: 30px;
    width: 220px;
    float: left;
    margin-bottom: 20px;
}

#car .car .gallery ul li:nth-child(3n+1) {
    clear: both;
}

#car .car .gallery ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#car .car .gallery ul li a:hover img {
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";


}

/* rental
----------------------------------------------------------------------------------------------------*/
#rental section {
    margin-bottom: 60px;
}

#rental section h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    xpadding-bottom: 15px;
    margin-bottom: 30px;
}

#rental section h2 .sm {
    display: block;
    font-size: 15px;
    color: #0a8bcf;
}

#rental section h3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

#rental .gallery {}

#rental .free .gallery {
    border: 5px solid #d3edfd;
    padding: 30px;

}

#rental .charge .gallery {
    border: 5px solid #c8decc;
    padding: 30px;
}

#rental .gallery ul {
    overflow: hidden;
    margin-right: -30px;

}

#rental .gallery ul li {
    margin-right: 30px;
    width: 196px;
    float: left;
    margin-bottom: 20px;
}

#rental .gallery ul li a {
    display: block;
    text-decoration: none;

}

#rental .gallery ul li a:hover img {
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";


}

#rental .gallery ul li:nth-child(3n+1) {
    clear: both;
}

#rental .gallery ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}


/* 寝具 */
#rental .gallery_top {
    border: 5px solid #d3edfd;
    padding: 30px 30px 20px;
    margin-bottom: 30px;
}

#rental .gallery_top ul {
    overflow: hidden;
    margin-right: -30px;

}

#rental .gallery_top ul li {
    margin-right: 30px;
    margin-bottom: 20px;
}

#rental .gallery_top ul li .photo {
    width: 196px;
    float: left;
    margin-right: 30px;
}

#rental .gallery_top ul li .text {
    overflow: hidden;
}

#rental .gallery_top ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#rental .gallery_top ul li .photo a:hover img {
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";


}

/* guide
----------------------------------------------------------------------------------------------------*/
#guide .indent {
    padding-left: 20px;
}

#guide .line_b {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

#guide section {
    margin-bottom: 60px;
}

#guide section a {
    text-decoration: underline;
}

#guide section a:hover {
    color: #f00;
}

#guide section.reserve h2 {

    margin-bottom: 50px;
}

#guide section.reserve h3 {
    text-align: center;
    margin-bottom: 30px;
}

#guide section.reserve .step {
    text-align: center;
    margin-bottom: 50px;
}

#guide section.reserve dl {
    margin-bottom: 20px;
    font-size: 14px;
    xborder-bottom: 1px solid #ccc;
}

#guide section.reserve dl dt {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0a8bcf;
}

#guide section.reserve dl dt span.left {
    width: 4em;
    margin-right: 20px;
    float: left;
    display: block;
}

#guide section.reserve dl dt span.right {
    overflow: hidden;
    color: #333;
    position: relative;
    top: 4px;
    display: block;
    background: #f0f0f0;
    padding: 5px 15px 3px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #ccc;
}

#guide section.reserve dl dd {
    font-size: 13px;
    line-height: 1.6;
    padding-left: 1em;
}

#guide section.reserve dl dd ul {
    margin-bottom: 1.5em;
}

#guide section.reserve dl dd p {
    margin-bottom: 1.5em;
}

#guide section.reserve dl dd p.border {
    border: 1px solid #ccc;
    padding: 5px 10px;
    display: inline-block;
}

#guide section.reserve dl dd h4 {
    font-size: 30px;
    color: #56ace2;
    margin-bottom: 5px;

}

#guide section.reserve a {
    color: #00f;
}

#guide section.hoken section {
    margin-bottom: 30px;
}

#guide .red {
    color: #f00;
}

#guide .bold {
    font-weight: bold;
}

#guide section.hoken p {
    margin-bottom: 10px;
}

#guide section.hoken .tel {
    font-size: 18px;
    color: #f00;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}


#guide section.hoken p.big {
    font-size: 20px;
}

#guide section.hoken p.pl2 {
    margin-left: 2em;
}

#guide section.hoken p.small {
    font-size: 11px;
}

#guide section.hoken h3 {
    font-size: 20px;
    background: #70b7de;
    color: #fff;
    font-weight: bold;
    padding: 6px 20px 3px;
    margin-bottom: 25px;
}

#guide section.hoken h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

#guide section.hoken h4.big,
#guide section.hoken h4 .big {
    font-size: 20px;
    font-weight: bold;
}

#guide section.hoken .red {
    color: #f00;
}

#guide section.hoken h4 .small {
    font-size: 11px;
}

#guide section.hoken h5 {
    font-size: 14px;
    margin-bottom: 5px;
}

#guide section.hoken ul.mark {
    margin-left: 2em;
    margin-bottom: 1em;
    list-style-type: disc;
    list-style-position: outside;

}

#guide section.hoken ul.comm {
    text-indent: -1em;
    padding-left: 1em;

}

#guide section.hoken table {
    border: 1px solid #999;
    margin-bottom: 10px;
    width: 100%;
}

#guide section.hoken table .bold {
    font-size: 36px !important;
}

#guide section.hoken table th {
    white-space: nowrap;
    text-align: center;
}

#guide section.hoken table th,
#guide section.hoken table td {
    border: 1px solid #999;
    padding: 5px 15px;
    text-align: center;
}

#guide section.hoken .line_box {
    border: 1px solid #e73828;
    padding: 20px;
    border-radius: 10px;
}

#guide section.hoken #c2rap {}

#guide section.hoken #c2rap span.small {
    display: block;
    font-size: 16px;
    padding-left: 20px;
    color: #f00;
}

#guide section.hoken #c2rap span.big {
    display: block;

}

#guide table.price_info {
    border: none !important;
    margin-top: 10px;
}

#guide table.price_info td {
    border: none !important;
    line-height: 1.2;
    font-size: 16px;
}

#guide table.price_info td.noc {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
}

#guide table.price_info span.arrow {
    font-size: 40px;
}

#guide table.price_info span.price {
    font-size: 60px;
    color: #f00;
}

#guide table.price_info span.en {
    font-size: 16px;
}

/*

#guide section.hoken p{
    font-size:14px;
    margin-bottom:50px;
}
#guide section.hoken ul{
    margin-right:-30px;
    overflow:hidden;
    margin-bottom:30px;
}
#guide section.hoken ul li{
    float:left;
    text-align:center;
    font-size:16px;
    width:220px;
    float:left;
    margin-right:30px;

}
#guide section.hoken ul li a:hover img{
        opacity:0.80;
    filter:alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";


}
#guide section.hoken ul li img{
    width:100%;
    height:auto;
}
#guide section.hoken ul li{
    text-align:center;
}
*/
/* access*/

#guide section.access p {
    font-size: 14px;
    margin-bottom: 2em;
}

#guide section.access .bold {
    font-weight: bold;
}

#guide section.access .red {
    color: #f00;
}

#guide section.access .map {
    margin-bottom: 10%;
}

#guide section.access .map iframe {
    width: 100%;
    height: 300px;
}

/* pay */
#guide section.pay p {
    font-size: 14px;
    margin-bottom: 2em;
}

/* calcel*/

#guide section.cancel p {
    font-size: 14px;
    margin-bottom: 2em;
}

#guide section.cancel h3 {
    border: 1px solid #ccc;
    padding: 3px 10px 1px;
    margin-bottom: 20px;
    background: #efefef;

}

#guide section.cancel h4 {
    border: 1px solid #f00;
    font-size: 18px;
    padding: 3px 10px 1px;
    margin-bottom: 10px;
    color: #f00;

}

#guide section.cancel dl {
    margin-bottom: 20px;
}

#guide section.cancel dl dt {
    font-weight: bold;
}

#guide section.cancel dl dd {
    margin-bottom: 1em;
}

#guide section.access h5 {
    font-size: 20px;
    margin-bottom: 5px;
}

#guide section.cancel table {

    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin: 10px 0 10px;
}

#guide section.cancel table td {
    background: #c6f6f9;
    padding: 10px 25px;
    text-align: center;

}

#guide section.faq {}

#guide section.faq h4 {
    font-size: 18px;
    margin: 30px 0 25px;
    color: #f00;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #f00;
}

#guide section.faq dl {}

#guide section.faq dl dt {
    font-size: 17px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

#guide section.faq dl dd {
    margin-bottom: 35px;
    padding: 0 25px;
}

#guide section.faq .bold {
    font-weight: bold;
}

#guide section.faq a {
    color: #00f;
    text-decoration: underline;
}

.iziModal p {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}

.iziModal ul {
    width: 92%;
    margin: 0 auto 20px;
    padding-bottom: 20px;
}

.iziModal ul li {
    width: 49%;
    float: left;

}

.iziModal ul li:first-of-type {
    padding-right: 2%;
}

.iziModal img {
    width: 100%;
    height: auto;
}


#guide section.access ul.airport li {
    width: 49%;
    float: left;
}

#guide section.access ul.airport li:first-of-type {
    margin-right: 2%;
    float: left;
}

#guide section.access ul.airport li img {
    width: 100%;
}

#guide section.access .txt {
    margin-bottom: 5px;
    margin-top: 5px;
}

#guide section.access .txt a {
    color: #00f;
}

#guide section a {
    text-decoration: underline;
}

#guide section a.link {
    color: #00f;
}

/* tourism
----------------------------------------------------------------------------------------------------*/
#tourism section {}

#tourism section h3 {
    font-size: 20px;
    background: #70b7de;
    color: #fff;
    font-weight: bold;
    padding: 6px 20px 3px;
    margin-bottom: 25px;
}

#tourism section a {
    color: #00f;
    text-decoration: underline;
    font-size: 15px;
    line-height: 40px;
}

#tourism section a.pdf:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../images/pdf_icon.png) no-repeat;
    background-position-y: 2px;
}

#tourism section ul {
    padding-left: 25px;
    padding-bottom: 25px;
}

#tourism section li {
    list-style-type: disc;
}

/* contact
----------------------------------------------------------------------------------------------------*/
#contact section {
    margin-bottom: 60px;
}

#contact section h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    xpadding-bottom: 15px;
    margin-bottom: 50px;
}

#contact section table,
#contact-confirm section table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;

}

#contact section table th,
#contact-confirm section table th {
    text-align: left;
    background: #efefef;
    padding: 6px 20px;
}

#contact section table td,
#contact-confirm section table td {
    padding: 6px 20px;
    background: #efefef;
}

#contact section table select {
    padding: 5px 5px;
}

#contact section table td input[type="text"] {
    width: 200px;
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#contact section table td input[type="email"] {
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#contact section table td textarea {
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#contact section input[type="submit"],
#contact-confirm section input[type="submit"] {
    margin: 20px auto;
    display: block;
    background: #fff;
    width: 130px;
    padding: 8px 0;
    border: 1px solid #0a8bcf;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#contact section input[type="submit"]:hover,
#contact-confirm section input[type="submit"]:hover {
    background: #0a8bcf;
    color: #fff;
}

#contact-confirm em {
    display: none;
}

#contact-end section p {
    margin-bottom: 1em;
}

/* single
----------------------------------------------------------------------------------------------------*/
#single #contents {
    padding: 0px 0;
}

#single #contents .entry-header {
    text-align: left;
    border-bottom: 1px solid #999;
    padding-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 7px;
    font-size: 18px;
}

#single #contents .entry-header time {
    font-size: 14px;
    padding-right: 5px;
    position: relative;
    top: -1px;
}

#single #contents .entry-content {
    font-size: 116%;
}

#single #contents .navigation {

    margin-top: 30px;
    padding: 15px 20px 5px;
    background: #f2f2f2;
}

#single #contents .navigation li.nav-previous {
    padding-bottom: 10px;
}

#single #contents .navigation li.nav-next {
    padding-bottom: 10px;
}

#side_news h2 {
    background: #efefef;
    padding: 5px 10px;
    margin-bottom: 0px;

}

#side_news ol {
    margin-bottom: 20px;

}

#side_news ol li {
    border-bottom: 1px dashed #ddd;
    padding: 8px 10px 8px;
}

#side_news ol li a {
    display: block;
}

#side_news ol li:last-child {
    border-bottom: none;
}



#archive .entry-header {
    text-align: left;
    border-bottom: 1px solid #999;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 7px;
    font-size: 18px;
}

#archive .entry-header time {
    font-size: 14px;
    padding-right: 5px;
    position: relative;
    top: -1px;
}

#archive .entry-header a time:hover {
    text-decoration: none !important;
}

#archive article {
    margin-bottom: 30px;

}

#archive article .thumb {
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#single .thumb {
    margin-bottom: 20px;
}

#single #contents .entry-content img {
    max-width: 720px;
    height: auto;
    margin-rigth: 20px;
}

#single #contents .entry-content p {
    margin-bottom: 1em;
}

#archive article .thumb img {
    width: 100%;
    height: auto;
}

#archive article .entry-header {
    overflow: hidden;
}

#archive .more-link {
    border: 1px solid #ccc;
    background: #eee;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 10px;
}

/*----------------
-tokusyou------------------------------------*/

#tokusyou .lgbt {
    margin-top: 40px;


}

#tokusyou .lgbt h2 {
    color: #009538;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #009538;
}

#tokusyou .lgbt h3 {
    margin-bottom: 10px;
}

#tokusyou .lgbt ul {}

#tokusyou .lgbt ul li {
    text-indent: -1em;
    padding-left: 1em;
}


#calendar #contents_center {
    width: 1020px;
}
