@charset "utf-8";

/*
Theme Name: crystal
*/
.pc {
    display: none !important;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html {
    background-color: #fff;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #000;
    background: #fff;
    font-size: 14px;
    top: 0 !important;



}

/* wrapper */
.wrapper {
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

/* link */
a {
    color: #333;
    text-decoration: none;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #333;

}

#outer {
    width: 100%;
    overflow: hidden;

}

#acMenu dt {
    display: block;
    background: #0a8bcf;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    font-size: 13px;
    background: #70b7de;
    color: #fff;
    font-weight: bold;
    padding: 2% 2% 2% 4%;


}

#acMenu dd {
    x width: 100%;
    display: none;
    padding-top: 20px;
}



#acMenu .accordion_icon,
#acMenu .accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

#acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
    top: 8px;
    margin-bottom: 0px !important;
}

#acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 2px;
    background-color: #f2f2f2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

#acMenu .accordion_icon span:nth-of-type(1) {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

#acMenu .accordion_icon span:nth-of-type(2) {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
#acMenu .accordion_icon.active span:nth-of-type(1) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(2) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


.highclass {
    border-bottom: none;
    background-color: #fe5c57;
    width: 94% !important;
    display: block;
    padding: 10px 10px 7px !important;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    position: relative;
    border-bottom: none !important;
    text-align: center;
}

.highclass:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

.plmclass {
    border-bottom: none;
    background-color: #9d7722;
    width: 94% !important;
    display: block;
    padding: 10px 10px 7px !important;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    position: relative;
    border-bottom: none !important;
    text-align: center;
}

.plmclass:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px #3e3011;
}

.highclass-2 {
    border-bottom: none;
    background-color: #fe5c57;
    width: 94% !important;
    display: block;
    padding: 10px 10px 7px !important;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    position: relative;
    border-bottom: none !important;
    text-align: center;
}

.highclass-2:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

.plmclass-2 {
    border-bottom: none;
    background-color: #9d7722;
    width: 94% !important;
    display: block;
    padding: 10px 10px 7px !important;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    position: relative;
    border-bottom: none !important;
    text-align: center;
}

.plmclass-2:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px #3e3011;
}


/* header
----------------------------------------------------------------------------------------------------*/
.goog-te-banner-frame {
    bottom: 0 !important;
    top: auto !important;
    display: none;

}

header {}

header h1 {
    display: none;
}

header .wrapper {}

header h2 {}

header h2 img {
    width: auto;
    height: 28px;
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 3%;
}

header nav {
    clear: both;

}


header .menu {
    height: 33px;
    text-align: right;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 14px;
}

header .menu img {
    padding: 5px 15px 0 0;
}

#closeMenu {
    display: none;
    z-index: 10001;
}

#openMenu img,
#closeMenu img {
    width: 23px;
    height: auto;
    z-index: 10001;
}

#layerMenu {
    position: absolute;
    top: 54px;
    display: none;
    width: 100%;
    font-size: 12px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);
}

#layerMenu ul {
    margin: 4%;
}

#layerMenu ul li {
    background: rgba(255, 255, 255, 0.95);
    list-style: none;
    vertical-align: middle;
}

#layerMenu ul li img {
    width: 100%;
    height: auto;
}

#layerMenu ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 13px;
    padding: 13px 4% 11px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#layerMenu ul li a::after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    margin-top: -3px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#overray {
    display: none;
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header .lang {
    text-align: right;
    padding: 0 4% 4% 0;
    width: 40%;
    float: right;
}

header .card {
    width: 48%;
    float: left;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 4%;
}

header .reservation li.btn-ja a {
    display: block;
    font-family: "フォーク R";
    text-align: center;
    line-height: 100%;
    background: #0a8bcf;
    padding: 7px 0px 7px;
    color: #fff;
    position: relative;

}

header .reservation li.btn-ja a:after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .reservation li.btn-en,
header .reservation li.btn-ja,
header .reservation li.btn-th,
header .reservation li.btn-zh {
    width: 50%;
    float: left;
    font-size: 11px;
}

header .reservation li.btn-en a {
    width: 100%;
    display: inline-block;
    font-family: "フォーク R";
    font-size: 11px;
    text-align: center;
    line-height: 100%;
    background: #012a40;
    padding: 7px 0px 7px;
    color: #fff;
    position: relative;

}

header .reservation li.btn-en a:after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .reservation li.btn-zh a {
    width: 100%;
    display: inline-block;
    font-family: "フォーク R";
    font-size: 11px;
    text-align: center;
    line-height: 100%;
    background: #ec6155;
    padding: 7px 0px 7px;
    color: #fff;
    position: relative;

}

header .reservation li.btn-zh a:after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .reservation li.btn-th a {
    width: 100%;
    display: inline-block;
    font-family: "フォーク R";
    font-size: 11px;
    text-align: center;
    line-height: 100%;
    background: #331512;
    padding: 7px 0px 7px;
    color: #fff;
    position: relative;

}

header .reservation li.btn-th a:after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header.fixed {
    position:fixed;
    width: 100%;
    top:0;
    background:#fff;
    z-index: 999999;
}

header.fixed .card {
        display: none;
}

header.fixed .lang {
        display: none;
}

#header-dammy {
    display: none;
    height:145.406px;
}


/* footer
----------------------------------------------------------------------------------------------------*/
footer .contact_link {
    clear: both;
    width: 84%;
    background: #0a8bcf;
    margin: 0 4%;
    padding: 5px 4% 3px;
    text-align: center;
    color: #fff;
    font-size: 13px;
}

footer .contact_link a {
    color: #fff;
    xtext-decoration: underline;
}

footer .lgbt {
    margin-top: 4%;
}

footer .oneplanet {
    margin-top: 4%;
    background: #fff;
    padding: 4%;
    width: 92%;
}

footer .oneplanet img {
    float: left;
    margin-right: 10px;
}

footer .oneplanet p {
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    line-height: 1.5;
}

#fb-root {
    display: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

footer {
    width: 100%;
    background: url(../../images/footer_bg.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 0% 0 20%;
}

footer nav {

    margin-bottom: 6%;
}

footer nav ul {
    margin: 0 0%;
    background: rgba(127, 188, 232, 0.4);

}

footer nav ul li {
    padding: 0% 0%;
}

footer nav ul li a {
    color: #fff !important;
    display: block;
    border-bottom: 1px solid #fff;
    padding: 3% 4%;
    font-size: 13px;
    position: relative;

}

footer nav ul li a::after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer nav ul li ul {
    display: none;
}

footer .fb {
    margin: 0 4% 8%;
    text-align: center;

}

footer .fb h2 {
    text-align: center;
    margin-bottom: 4%;
}

footer .fb h2 img {
    width: 70%;
}

footer .address {
    margin: 8% 4%;
    color: #fff;
    font-size: 12px;
}

footer .address h2 {
    margin-bottom: 15px;
}

footer .address iframe {
    width: 100%;
    height: auto;
}

footer .address .bnr img {
    margin-bottom: 5px;
}

footer .address .bnr img {
    margin-bottom: 5px;
}


footer .right .instagram-btn {
    padding-bottom: 4%;
}

footer .right .instagram-btn a {
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 8px 20px 8px;
    width: 81%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

footer .right .instagram-btn a:hover {
    background: rgba(255, 255, 255, 0.25);
    text-decoration: none;
}

footer .right .instagram-btn span {
    padding-left: 10px;
}

footer p.copy {
    font-size: 11px;
    padding-top: 9px;
    text-align: center;
    color: #fff;
}

#page-top a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    background: #56ace2;
    border-radius: 3px;
    color: #fff;
    display: block;
    width: 70px;
    padding: 12px 10px 12px;
}

/* 共通
----------------------------------------------------------------------------------------------------*/
.headline01 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    padding-bottom: 4px;
    margin-bottom: 4%;
    color: #5a5655;
    font-size: 20px;
    font-family: "じゅん 201";
}

.headline01 span.small {
    font-size: 14px;
}

.headline01 span.blue {
    color: #0a8bcf;
    font-size: 22px;
}

.headline01 span.small2 {
    font-size: 14px;
    vertical-align: bottom;

}

/* index
----------------------------------------------------------------------------------------------------*/
/* スライド */
#index #main_image {
    width: 100%;
    overflow: hidden;
}

#index #slider {
    xpadding-bottom: 15px;
}

#index #slider .wrapper {
    position: absolute;
    top: 60%;
    right: 5%;
    margin: 0;
}

#index .flexslider {
    padding: 0;
}

#index #slider .catch {

    text-align: left;

}

#index #slider .catch h3 {
    text-shadow: 1px 1px 3px #000;
    color: #fff;
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 20px;
    display: none;
}

#index #slider .catch p.btn a {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 6px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    padding-bottom: 10px;
    line-height: 100%;
    font-size: 11px;

    background: #0a8bcf;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;


    margin-top: 0;


}

#index #slider .catch p.btn a:hover {
    text-decoration: none;
    background: #1a9ee3;
}

#index .flexslider .nolink {
    cursor: default;
}

#index #slider .slides li {
    width: 100%;
    height: 120px;
    overflow: hidden;
    background-size: 170%;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 34%;
    position: relative;
}

#index #main_image.zh #slider_bg1 {
    background: url(../../images/top_slide01.jpg) repeat;
}

#index #main_image.zh #slider_bg2 {
    background: url(../../images/top_slide02.jpg) repeat;
}

#index #main_image.zh #slider_bg3 {
    background: url(../../images/top_slide03.jpg) repeat;
}

#index #main_image.zh #slider_bg4 {
    background: url(../../images/top_slide04.jpg) repeat;
}

#index #main_image.zh #slider_bg5 {
    background: url(../../images/top_slide05.jpg) repeat;
}

#index .ja #slider_bg1 {
    background: url(../../images/top_slide01_ja.jpg) repeat;
}

#index .ja #slider_bg2 {
    background: url(../../images/top_slide02_ja.jpg) repeat;
}

#index .ja #slider_bg3 {
    background: url(../../images/top_slide03_ja.jpg) repeat;
}

#index .ja #slider_bg4 {
    background: url(../../images/top_slide04_ja.jpg) repeat;
}

#index .ja #slider_bg5 {
    background: url(../../images/top_slide05_ja.jpg) repeat;
}

#index .ja #slider_bg6 {
    background: url(../../images/top_slide06_ja.jpg) repeat;
}

#index .ja #slider_bg7 {
    background: url(../../images/top_slide07_ja.jpg) repeat;
}

#index .ja #slider_bg8 {
    background: url(../../images/top_slide08_ja.jpg) repeat;
}


#index .en #slider_bg1 {
    background: url(../../images/top_slide01_en.jpg) repeat;
}

#index .en #slider_bg2 {
    background: url(../../images/top_slide02_en.jpg) repeat;
}

#index .en #slider_bg3 {
    background: url(../../images/top_slide03_en.jpg) repeat;
}

#index .en #slider_bg4 {
    background: url(../../images/top_slide04_en.jpg) repeat;
}

#index .en #slider_bg5 {
    background: url(../../images/top_slide05_en.jpg) repeat;
}

#index .en #slider_bg6 {
    background: url(../../images/top_slide06_en.jpg) repeat;
}

#index .en #slider_bg7 {
    background: url(../../images/top_slide07_en.jpg) repeat;
}

#index .en #slider_bg8 {
    background: url(../../images/top_slide08_en.jpg) repeat;
}

#index .th #slider_bg1 {
    background: url(../../images/top_slide01_th.jpg) repeat;
}

#index .th #slider_bg2 {
    background: url(../../images/top_slide02_th.jpg) repeat;
}

#index .th #slider_bg3 {
    background: url(../../images/top_slide03_th.jpg) repeat;
}

#index .th #slider_bg4 {
    background: url(../../images/top_slide04_th.jpg) repeat;
}

#index .th #slider_bg5 {
    background: url(../../images/top_slide05_th.jpg) repeat;
}



#index #carousel {
    height: 60px;
}

#index #carousel ul {
    width: 92% !important;
    margin: 10px auto 0 !important;
    text-align: center;
}

#index #carousel .flex-active-slide img {
    opacity: 0.70;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";
}

#index #carousel ul a:hover {
    position: relative;
}

#index .movie_link {
    position: relative;
    margin-bottom: 4%;
}

@media screen and (max-width:769px) {

    #index .movie_link .slick-prev,
    #index .movie_link .slick-next {
        top: 54% !important;
    }
}

#index .movie_link .slick-slide {
    margin: 0;
}

/* トップ車輌 */
#index .topcar {
    margin: 0 4% 2%;
}

#index .topcar .topmsg {
    text-align: center;
    color: #0a8bcf;
    font-size: 14px;
    margin-top: -4%;
    margin-bottom: 4%;
}

#index .topcar p.wifi {
    text-align: center;
    font-size: 15px;
    font-family: "じゅん 201";

}

#index .topcar p.wifi img {
    width: 24px;
    padding-right: 2%;
}

#index .topcar ul li h3 a {
    color: #0a8bcf;
    text-decoration: none;
}

#index .topcar h2 {
    text-align: center;
    padding-bottom: 3%;
    font-size: 16px;
}

#index .topcar h2 .blue {
    color: #0a8bcf;
}

#index .topcar p .blue {
    color: #0a8bcf;
}

#index .topcar p .small {
    font-size: 10px;
}

#index .topcar p.catch {
    text-align: center;
    margin-bottom: 8%;
}

#index .topcar ul {
    margin: 0 0%;
}

#index .topcar ul li {
    margin-bottom: 6%;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#index .topcar ul li:last-child {
    border: none;
    margin-bottom: 0;
}

#index .topcar ul li p {
    text-align: center;
    font-size: 11px;
}

#index .topcar ul li h5 {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #0a8bcf;
    color: #0a8bcf;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

#index .topcar ul li .petok:after {
    content: "ペットOK";
    background: #df5726;
    width: 92%;
    font-size: 13px;
    padding: 3% 0 2%;
    margin-top: 4%;
    top: -4px;
    margin-left: 9px;
    color: #fff;
    position: relative;
    display: block;
}

#index .topcar ul li .inside img {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(1);
    /* 1.2倍の大きさで表示 */
    transform: scale(1);
}

#index .topcar ul li .inside a .caption {
    color: #00f;
    padding-top: -2% !important;
    padding-bottom: 2% !important;
}

#index .topcar ul li h3 {
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    display: block;
    margin-bottom: 3%;
    color: #0a8bcf;
    font-weight: bold;
    padding: 0 !important;
}

#index .topcar ul li h3 span {
    padding: 0 !important;

}

#index .topcar .comment {
    text-align: center;
    margin-bottom: 4%;
    font-size: 12px;
}

#index .topcar .comment span {
    border: 1px solid #9d0000;
    display: inline-block;
    padding: 3px 8px 2px;
}

.rubi {
    position: relative;
    top: -1px;
    font-size: 14px;
}

#index .topcar ul li h3:before {}

#index .topcar ul li .sub {
    font-size: 13px;
    color: #666;
    display: block;
    line-height: 1.4;
    text-align: center;
    padding: 3px 0 5px !important;
    margin: 0 !important;
    font-weight: normal;
}

#index .topcar ul li figure {
    text-align: center;
}

#index .topcar ul li h4 {
    color: #0a8bcf;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 2%;
}

#index .topcar ul li p.info {
    line-height: 1.7;
    font-size: 13px;
    margin-bottom: 6%;
    text-align: left;

}

#index .topcar ul li dl {
    padding-bottom: 3px;
}

#index .topcar ul li dl dt {
    width: 6em;
    float: left;
}

#index .topcar ul li dl dd {
    overflow: hidden;
}

#index .topcar ol {
    margin: 6% -2% 1% 0;
    overflow: hidden;
    text-align: center;
}

#index .topcar ol li {
    display: inline-block;
    width: 47%;
    padding-bottom: 0px;
    border: none;
}

#index .topcar ol li a {
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 100%;
    font-size: 15px;
    box-shadow: 2px 2px 0px 0px #d2d2d2;
    position: relative;
}

#index .topcar ol li a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

#index .topcar ol li.btn1 a {
    background: #d2d2d2;
}

#index .topcar ol li.btn2 a {
    background: #4fb8fb;
    color: #fff;
}

#index .topcar ol li.btn3 a {
    background: #f8db83;
}


#index .topcar .plmclass1 {
    background: #3f3e3c;
    color: #fff;
    text-align: center;
    padding: 2% 0 2%;
    font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif;
    font-size: 15px;
}

#index .premium_class .toptitle .bottom {
    background: #c89c5d;
    text-align: center;
}

#index .premium_class .toptitle .bottom h3 span {
    font-size: 12px;
}

#index .premium_class .toptitle .bottom h3 {
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif;
}

#index .premium_class .toptitle .bottom img {
    margin-top: -5px !important;
}

#index .premium_class .toptitle .bottom h4 {
    font-size: 24px;
    color: #1a1a1a;
    /* font-weight: bold; */
}

#index .premium_class .toptitle .bottom p {
    font-size: 12px;
    color: #fff;
    padding-bottom: 4%;
}

#index .premium_class .toptitle .bottom h4 span {
    font-size: 15px;
}

#index .premium_class .topcontent .box {
    background: #fff;
    x position: relative;

}

#index .premium_class .topcontent .box .wifi {
    display: none;
}

#index .premium_class .topcontent .box .oneplanet {
    display: none;
}

#index .premium_class .topcontent .left {
    padding-top: 20px;
    padding-left: 12px;
}

#index .premium_class .topcontent .left img {
    margin: 0 auto;
    text-align: center;
    display: block;
}

#index .topcar ul li figure img {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#index .premium_class .topcontent .left a:hover img {
    opacity: 0.5;
}

#index .premium_class .topcontent .center {
    padding-left: 2px;
    position: relative;
}

#index .premium_class .topcontent .center img {
    margin: 0 auto;
    text-align: center;
    display: block;

}

#index .premium_class .topcontent .center .oneplanet {
    position: absolute;
    bottom: 16%;
    left: 0%;
    width: 14%;
    display: block !important;
}

#index .premium_class .topcontent .center .oneplanet img {
    width: 100%;
    height: auto;
}

#index .premium_class .topcontent .right a .caption {
    color: #00f;
    padding-top: -2% !important;
    padding-bottom: 2% !important;
    text-align: center;
    padding-top: 2%;
}

#index .premium_class .topcontent .right dl dt {
    width: 6em;
    float: left;
}

#index .topcar ul li dl dd {
    overflow: hidden;
}

#index .premium_class .topcontent .right dl {
    font-size: 13px;
    padding-bottom: 3px;
    padding-top: 4px;
    border-top: 1px solid #eee;
}

#index .premium_class .topcontent .right h4 {
    margin: 0 auto 15px;
    border: 1px solid #29abe2;
    color: #29abe2;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

#index .premium_class .topcontent .right h3 {
    color: #0a8bcf;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 2%;
    text-align: center;
}

#index .topcar .highclass1 {
    background: #ec6155;
    color: #fff;
    text-align: center;
    padding: 2% 0 2%;
    width: 100%;
    margin-bottom: 4%;
    font-size: 15px;
}

#index .topcar .highclass2 {
    background: #df5726;
    color: #fff;
    text-align: center;
    padding: 2% 0 2%;
    width: 100%;
    margin-bottom: 4%;
    font-size: 15px;
}

#index .topcar ul li h3 span {
    display: block;
    font-size: 12px;
    margin-bottom: 2%;
}

#index .topcar .petsok {
    display: block;
    margin: 0 auto 2%;
}

#index .topcar .highclass_btn {
    width: 100%;
}

#index .topcar .highclass_btn a {
    float: left;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    line-height: 100%;
    width: 47%;
    font-size: 14px;
    xposition: relative;
    font-family: "新ゴ M";
    color: #565656;
    box-shadow: 1px 1px 0px 0px #ddd;
    margin-bottom: 4%;
    margin-top: 4%;
}

#index .topcar .plemclass_btn a {
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 100%;
    font-size: 14px;
    position: relative;
    font-family: "新ゴ M";
    color: #565656;
    box-shadow: 1px 1px 0px 0px #ddd;
}

#index .topcar .btn3 a {
    background: #f8db83;
    font-weight: bold;
}

#index .topcar .btn2 a {
    background: #4fb8fb;
    color: #fff;
    font-weight: bold;
    margin-right: 3%;
}

#index .topcar .highclass2 span {
    background: #fff;
    color: #ed1c24;
    font-size: 13px;
    margin-left: 4%;
    padding: 1px 5px;
    position: absolute;
    margin-top: 1px;
    font-weight: bold;
}

.form_btn a {
    width: 100%;
    margin: 0% auto 8%;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0px 11px;
    line-height: 100%;
    position: relative;
    font-size: 14px;
    background: #0a8bcf;
    color: #fff;
}

.form_btn a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

.form_en_btn a {
    width: 92%;
    display: block;
    margin-bottom: 4%;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding: 2% 4%;
    line-height: 100%;
    box-shadow: 2px 2px 0px 0px #ddd;
    position: relative;
    font-size: 18px;
    background: #c31731;
    color: #fff;
}

.form_en_btn a:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

#index .topcar ul li dl {
    font-size: 13px;
    padding-bottom: 3px;
    padding-top: 4px;
    border-top: 1px solid #eee;
}

#index .topcar ul li dl dt {
    width: 6em;
    float: left;
}

#index .topcar ul li dl dd {
    overflow: hidden;
}

#index .topcar ol {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 0px 0px 20px 0;
    overflow: hidden;
}


#index .catch2 .btn:after {
    content: "＞";
    left: 85px;
    bottom: 5px;
    position: relative;

}

#index .catch2 .btn {
    display: block;
    xposition: absolute;
    width: 100%;
    margin: 0% auto 0%;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0px 11px;
    line-height: 1.4;
    font-size: 14px;
    background: #012a40;
    color: #fff;
    margin-top: 10%;

}


#index .catch2 .btn:hover {
    top: 1px;
    left: 1px;
    text-decoration: none;
    box-shadow: none;
}

/* copy */
#index .catch1 {
    background: url(../../images/top_bg01.jpg) top center repeat-x;
    padding: 10% 4%;
    text-align: center;
    margin-bottom: 8%;
    background-size: auto 180px;
    font-family: "じゅん 201";
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 1px #000;

}

#index .catch2 {
    background: url(../../images/top_bg02.jpg) top center repeat-x;
    padding: 10% 4%;
    text-align: center;

    background-size: auto 180px;
    font-family: "じゅん 201";
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 1px #666;
}

#index .instagram {
    position: relative;
    width: 100%;

}

#index .instagram ul li {
    display: block;
    width: 20%;
    height: auto;
    float: left;

}

#index .instagram p.text {
    font-size: 18px;
    color: #fff;
    z-index: 9999;
    position: absolute;
    top: 33%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px #000;

}


#index .instagram .more-btn a {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 76%;
    left: 50%;
    text-decoration: none;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #000;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding: 5px;
    width: 92%;
    text-align: center;
    opacity: 0.8;

}

#index .instagram .more-btn a:after {
    content: "＞";
    padding-left: 20px;
}

#index .instagram ul {
    font-size: 20px;
    color: #fff;

}

#index .instagram ul li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

#index .instagram ul li img {
    width: 100%;
    height: auto;
}

/* ポイント */
#index .point {
    margin: 10% 4%;
}

#index .point h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 6%;
}

#index .point h3 {
    color: #0a8bcf;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 2%;

}

#index .point ul {
    margin: 0 0%;

}

#index .point ul li {
    margin-bottom: 6%;
}

#index .point ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#index .point ul li p.text {
    line-height: 1.6;
    font-size: 13px;
}

#index .point ul li a {
    text-decoration: underline;
}

#index .point ul li a:hover {
    color: #f00;
}

/* おしらせ */
#index .post {
    margin: 6% 4% 4%;
}

#index .post h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 6%;
}

#index .post h2 img {
    width: 30%;
    height: auto;
}

#index .post.blog h2 img {
    width: 40%;
}

#index .post dl {
    padding: 5px 0;
    font-size: 13px;
    display: table;
    border-bottom: 1px dashed #ddd;
    width: 100%;
}

#index .post dl dt {
    width: 100px;
    display: table-cell;
}

#index .post dl dt img {
    width: 70px;
    height: auto;
    padding-left: 10px;
}

#index .post dd {
    display: table-cell;
    vertical-align: middle;
}

#index .post dl a {
    text-decoration: none;
}

#index .post dl a:hover {
    text-decoration: underline;
}

/* contents
----------------------------------------------------------------------------------------------------*/
#contents {}

#contents_center {
    margin-top: 4%;
}

.scroll {
    overflow: auto;
    /*tableをスクロールさせる*/
    white-space: nowrap;
    /*tableのセル内にある文字の折り返しを禁止*/
}

.scroll::-webkit-scrollbar {
    /*tableにスクロールバーを追加*/
    height: 5px;
}

.scroll::-webkit-scrollbar-track {
    /*tableにスクロールバーを追加*/
    background: #F1F1F1;
}

.scroll::-webkit-scrollbar-thumb {
    /*tableにスクロールバーを追加*/
    background: #BCBCBC;
}

/* sidebar
----------------------------------------------------------------------------------------------------*/
#sidebar {}

#sidebar ul {
    padding-bottom: 6%;
    border-top: 1px solid #ddd;
}

#sidebar ul li {

    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    width: 50%;
    float: left;
    display: block;
    box-sizing: border-box;
    font-size: 15px;

}

#sidebar ul li a {
    display: block;
    padding: 10px 3px 10px 15px;
    position: relative;

}

#sidebar ul li a::after {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    margin-top: -3px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sidebar ul li:nth-child(2n) {
    border-right: none;
}

#sidebar ul li a:before {
    /*content: url(../../images/side_icon.png) ;
    line-height: 0;
        display: inline-block;
    vertical-align: middle;
    margin-right:10px;*/
}

#side_news {
    margin: 6% 4% 0;
}

#side_news h2 {
    background: #efefef;
    padding: 5px 10px;
    margin-bottom: 0px;

}

#side_news ol {
    margin-bottom: 20px;

}

#side_news ol li {
    border-bottom: 1px dashed #ddd;
    padding: 8px 10px 8px;
}

#side_news ol li a {
    display: block;
}

#side_news ol li:last-child {
    border-bottom: none;
}


/* フォームの料金 */

#reserve #sidebar {
    margin: 0 4% 4%;

}

#sidebar .price_area {

    background: #fff;
    border: 1px solid #ccc;
    margin-top: 6%;
    padding: 2%;
    font-size: 13px;
}

#sidebar .price_area h3 {
    background: #54aadd;
    color: #fff;
    margin-bottom: 2%;
    padding: 6px 5px 5px;
    text-align: center;
    font-size: 14px;
}

#sidebar .price_area h4 {
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 13px;
    border-bottom: 1px solid #999;
}

#sidebar .price_area .box {
    margin-top: 2%;
}

#sidebar .price_area .box.border {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 6px;
}


#sidebar .price_area .box.kei {
    background: #eee;
    padding: 2% 2% 2%;
}

#sidebar .price_area .box.kei dl.border {}

#sidebar .price_area .box.kei dl:last-child {
    border-top: 1px solid #ccc;
    padding-top: 7px;
    margin-top: 6px;

}

#sidebar .price_area dl {
    display: table;
    width: 100%;
}

#sidebar .price_area dl dt {
    display: table-cell;
    text-align: left;
}

#sidebar .price_area dl dd {
    display: table-cell;
    text-align: right;
}

#sidebar .price_area dl dd.waribiki {
    color: #FF0000;
    text-align: right;
}

#sidebar .price_area dl.sum {
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
}


/* footer
----------------------------------------------------------------------------------------------------*/

/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#page_title {
    text-shadow: 1px 0px 3px #666;
    color: #fff;
    padding: 6% 0 6% 6%;
    position: relative;
    xmargin-bottom: 6%;

}

#page_title h2 {

    font-size: 18px;
    line-height: 1.5;

}

#page_title p {

    font-size: 11px;
    line-height: 1.2;
    padding-left: 3px;
}

#price #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#reserve #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#confirm #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#thanks #page_title {
    background: url(../../images/page_title_price.jpg) top center no-repeat;
}

#yakkan #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#yakkan-en #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#yakkan-zh #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#tokusyou #page_title {
    background: url(../../images/page_title_yakkan.jpg) top center no-repeat;
}

#car #page_title {
    background: url(../../images/page_title_car.jpg) top center no-repeat;
}

#rental #page_title {
    background: url(../../images/page_title_rental.jpg) top center no-repeat;
}

#guide #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#contact #page_title {
    background: url(../../images/page_title_contact.jpg) top center no-repeat;
}

#contact-confirm #page_title {
    background: url(../../images/page_title_contact.jpg) top center no-repeat;
}

#contact-end #page_title {
    background: url(../../images/page_title_contact.jpg) top center no-repeat;
}

#single #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#archive #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#news #page_title {
    background: url(../../images/page_title_guide.jpg) top center no-repeat;
}

#tourism #page_title {
    background: url(../../images/page_title_tourism.jpg) top center no-repeat;
}

#page_title {
    background-size: cover;
}

#pan {
    display: none;
}


/* price
----------------------------------------------------------------------------------------------------*/

/* カレンダー */
#price section.cal {
    font-size: 14px;
    margin: 0 0 6%;
}

#price section.cal h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

section .tax {
    text-align: right;
    clear: both;
    font-size: 12px;
}

#price section.cal .season {
    width: 92%;

    font-size: 13px;
    margin: 4% 4% 4%;
}

.red_text {
    color: #F73434;
    font-size: 15px;
}

#price section.cal .red_text {
    color: #F73434;
    font-size: 13px;
}

.mw_wp_form .error {
    font-size: 13px;
    background: #B70000;
    display: block;
    color: #fff !important;
    text-align: center;
}

#price table.style01 {
    border-top: 1px solid #ccc;
    margin: 0 4% 6%;
    font-size: 13px;

}

#price table.style01 th {
    border-bottom: 1px solid #ccc;
    background: #efefef;
    padding: 5px 15px;
    width: 30%;
}

#price table.style01 td {
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;

}

#price section.cal .red_text {
    color: #F73434;
    margin: 0 4%;

}

#price section.cal .season dl {
    xwidth: 220px;
    margin-bottom: 2px;
    xfloat: left;
    xmargin-right: 10px;
}

#price section.cal .season dl dt {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

#price section.cal .season dl dt.color7 {
    top: -2px;
}

#price section.cal .season dl dd {
    overflow: hidden;
    padding-top: 12px;
}

#price section.cal dl dd span {
    display: block;
    font-size: 14px;
}

.mw_wp_form .error {
    color: #f84343;
}

.color1 {
    border: 1px solid #d2d2d2;
    background: #fff;
}

.color2 {
    background-color: #ccc;
}

.color3 {
    background-color: #95fcf8;
}

.color4 {
    background-color: #00a0e9;
    color: #fff !important;
}

.color5 {
    background-color: #76f94e;
}

.color6 {
    background-color: #f1eb8f;
}

.color7 {
    background-color: #fc8a95;
    color: #fff;
}

.color8 {
    background-color: #ff9827;
}

#price section.cal div.yearArea {
    overflow: hidden;

    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: -20px;
    box-sizing: border-box;
}

#price section.cal div.yearArea .sbc-calendar-month {
    width: 44%;
    float: left;
    margin-right: 4%;
    min-height: 220px;
}

#price section.cal div.yearArea .sbc-calendar-month:nth-child(even) {
    margin-right: 0%;
}

#price section.cal div.yearArea div.sbc-navigation {
    text-align: center;
    border-bottom: 1px solid #777;
    padding-bottom: 3px;
    margin-bottom: 4%;
    font-weight: bold;

}

#price section.cal div.yearArea div.sbc-navigation:after {
    content: "月"
}

#price section.cal div.yearArea table {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 2%;
}

#price section.cal div.yearArea table tr th,
#price section.cal div.yearArea table tr td {
    width: 1%;
    text-align: center;
    border: 3px solid #fff;
    line-height: 1.8;
    text-align: center;
    font-size: 12px;
}

#price section.cal div.yearArea table tr th {
    color: #fff;
    background-color: #3881ab
}

#price section.cal div.yearArea table tr td.sbc-status-on_free {
    background-color: #fff
}

#price section.cal div.yearArea table tr td.sbc-status-high {
    background-color: #76f94e
}

#price section.cal div.yearArea table tr td.sbc-status-golden {
    background-color: #f1eb8f
}

#price section.cal div.yearArea table tr td.sbc-status-off_syuku {
    background-color: #ccc
}

#price section.cal div.yearArea table tr td.sbc-status-on_tsu {
    background-color: #95fcf8
}

#price section.cal div.yearArea table tr td.sbc-status-on_syuku {
    background-color: #00a0e9;
    color: #fff;
}

#price section.cal div.yearArea table tr td.sbc-status-winter {
    background-color: #ff9827;
}

#price section.cal div.yearArea table tr td.sbc-status-sale {
    background-color: #fc8a95;
    color: #fff;
}

#price section.cal > p {
    color: #f84343
}

/* 料金表 */
#price section.pricetable {
    margin: 0 4% 4%
}

#price section.pricetable p.wifi {
    font-size: 11px;
    padding-top: 4%;
    padding-right: 4%;
    text-align: right;
}

#price section.pricetable .camp {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #F73434;
    padding-top: 4%;
}

#price section.pricetable p.wifi img {
    width: 20px;
}

#price section.pricetable a.link {
    color: #00f;
    text-decoration: underline;
}

#price section.pricetable h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 3%;
    padding-left: 37%;
    padding-right: 37%;
}

#price section.pricetable .sougei {
    padding-top: 4%;
}

#price section.pricetable h3 {
    font-size: 18px;
    margin-left: 10px;
    text-align: center;
    margin: 0 auto;
}

#price section.pricetable h3 span {
    font-size: 10px;
    padding-right: 5px;
}

#price section.pricetable h3 img {
    padding-left: 10px;
    xmargin-bottom: 10px;
    position: relative;
    top: 5px;
    text-align: center;

    width: 25%;
    height: auto;
}

#price section.pricetable table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#price section.pricetable p.tyuui {
    margin-bottom: 8%;
    font-size: 13px;
}

#price section.pricetable table th {
    text-align: left;
    padding: 6px 10px;
}

#price section.pricetable table td {
    padding: 4px;
    text-align: center;
}

#price section.pricetable table .h {
    background: #eeeeee;
    font-weight: bold;
}

#price section.pricetable p.text {
    margin-bottom: 30px;
    line-height: 1.7;
}

#price section.pricetable h4 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 3px;
}


#price section.pricetable .highclass {
    border-bottom: none;
    background-color: #00B7DE;
    width: 92%;
    padding: 10px 10px 7px;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    position: relative;
}

#price section.pricetable .highclass:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}

#price section.pricetable .plmclass {
    border-bottom: none;
    background-color: #9d7722;
    width: 92%;
    padding: 10px 10px 7px;
    color: #FFF;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    position: relative;
}

#price section.pricetable .plmclass:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px #3e3011;
}

#price section.pricetable table td .price {
    font-size: 12px;
    color: gray;
    display: block;
    text-decoration: line-through;
}

#price section.pricetable table td .disc {
    font-size: 12px;
    color: #F73434;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0,
        /*右下、左上*/
        #fff -1px 1px 0, #fff 1px -1px 0,
        /*右上、左下*/
        #fff 0px 1px 0, #fff 0-1px 0,
        /*右、左*/
        #fff -1px 0 0, #fff 1px 0 0;
    font-weight: bold;
    display: block;
}


/* 割引 */
#price section.discount {
    margin: 0 4% 6%;

}

#price section.discount h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

#price section.discount table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#price section.discount table th {
    padding: 15px 20px;

    background: #eeeeee;

}

#price section.discount table td {
    padding: 15px 10px;
    background: #eeeeee;


}


/* 料金例 */
#price section.example {
    margin: 0 4% 6%;

}

#price section.example h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
}

#price section.example ul {
    margin: 0 0 4%;
    text-align: center;
}

#price section.example ul li {
    text-align: center;
    width: 32%;
    display: inline-block;
    font-size: 11px;
    margin-bottom: 3%;
}

#price section.example ul li img {
    margin-top: 5px;
    text-align: center;

}

#price section.example .item {
    margin-bottom: 4%;

}

#price section.example .item .left {
    width: 63%;
    float: left;
    font-size: 13px;
    margin-right: 3%;
}

#price section.example .item .left h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

#price section.example .item .right {
    width: 30%;
    float: left;
    padding-top: 10%;
}

#price section.example .item .right img {
    width: 100%;
    height: auto;
}

#price section.example table {
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 13px;
    margin: 0 0 4%;
    width: 100%;

}

#price section.example table th {
    padding: 5px 5px;
    text-align: center;

    background: #eeeeee;

}

#price section.example table td {
    padding: 5px 5px;
    text-align: center;
    background: #eeeeee;
}

#price section.example table .nobg {
    background: none;
}

#price section.example table .red {
    color: #F73434;
}

#price section.example table .red span {
    margin-right: 3em;
    font-weight: bold;
}


/*フォーム */
.form .war {
    color: red;
    margin-top: 4%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 2% 4%;
    border: 2px solid red;
}

#price section.form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

#price section.form {
    margin: 0 4% 6%;
}

#price section.form .mb20 {
    margin-top: 4%;
    margin-bottom: 4% !important;
    font-size: 12px;
}

#price section.form h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

#price section.form hr {
    border: 0;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;

}

#price section.form h2 {
    text-align: center;
    border-bottom: 4px dotted #f8db83;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

#price section.form ul.carlist li .left {
    float: left;
    width: 35%;
}

#price section.form ul.carlist li .right {
    float: left;
    margin-top: 2%;
    width: 55%;
    padding-left: 1em;
    text-indent: -1em;

}

#price section.form ul.carlist {
    box-sizing: border-box;
    width: 100%;
}

#price section.form ul.carlist li {

    display: table;
    width: 100%;
    vertical-align: middle;
}

#price section.form ul.carlist li span {
    vertical-align: top !important;
    padding-top: 10%;
}

#price section.form ul.carlist li:last-child {
    margin-bottom: 0px;
}


#price section.form span.hd {
    margin-left: 0.2em
}

#price section.form.confirm td img {
    display: none
}

#price section.form.confirm span.hd {
    display: none
}

#confirm section.form .tax {
    display: none;
}

#price section.form.sent p {
    padding-bottom: 100px
}

#price section.form > div > p > span {
    color: #f84343;
    font-weight: bold
}

#price section.form table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 13px;
}

#price section.form table tbody {
    width: 100%;
    box-sizing: border-box;
}

#price section.form table p.red {
    color: #f00;
    font-size: 13px;
    margin-left: -10px;
}

#price section.form table .box {
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
    margin-right: 2%;
}

#price section.form table .box p {
    font-size: 12px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-indent: -1em;
}

#price section.form .pet_comment {
    padding-left: 10%;
    padding-top: 2%;
}

#price section.form table .box p.red {
    color: #f00;
    font-size: 14px;
    border: 1px solid #f00;
    padding: 1% 4% 1%;
    text-indent: 0em;
}

#price section.form table th {
    text-align: left;
    padding: 10px 10px;
    width: 100%;
    display: block;
    background-color: #ddd;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

#price section.form table th a {
    font-size: 11px;
    color: #33F;
    text-decoration: underline;
}

#price section.form table td {
    padding: 10px 10px;
    background-color: #eee;
    width: 100%;
    display: block;
    margin-bottom: 4%
}

#price section.form table td span {
    display: inline-block;
}

#price section.form table td a {
    font-size: 12px;
    color: #33F;
    text-decoration: underline;
}

#price section.form table td h4 {
    margin-bottom: 8px;
}

#price section.form table th > a {
    margin-left: 0.5em
}

#price section.form table td ul.goods li {
    xmin-height: 32px;
}

#confirm #price section.form table td ul.goods li {
    min-height: auto;
    height: auto;
    margin: 0;
}

#price section.form table td ul.goods li select {
    padding: 3px 0;

}

#price section.form table th > span {
    display: none
}

#price section.form table th > span:last-child {
    display: block
}


#price section.form table td.pd1 {
    padding-top: 1.0em;
    padding-bottom: 1.0em
}

#price section.form table td br {
    margin-bottom: 3px;
}

#price section.form table td input[type="text"] {
    width: 98%;
    padding: 0.2em 3px;
    margin-bottom: 3px;

}

#price section.form table td input[type="text"].w3 {
    width: 30%;
}

#price section.form table td input[type="text"].w5 {
    width: 30%;
}

#price section.form table td input[type="text"].w7 {
    width: 30%;
}

#price section.form table td input[type="text"].w16 {
    width: 50%;
}

#price section.form table td input[type="text"].w18 {
    width: 50%;
}

#price section.form table td input[type="text"].w25 {
    width: 70%;
}

#price section.form table td input[type="text"].w43 {
    width: 100%;
}

#price section.form table td input[type="email"] {
    padding: 0.2em 0;
}

#price section.form table td input[type="email"] {
    width: 100%;
    padding: 5px 3px;
    margin: 5px 0.2em;
}

#price section.form table td ul.padding li {
    margin-bottom: 10px;
}

#price section.form table td radio {
    padding: 5px 3px;
    margin: 5px 0.2em;
}

#price section.form table td select {
    width: 60%;
    padding: 5px 3px;
    margin: 5px 0.2em;
}

#price section.form table td select.w5 {
    width: 50px
}

#price section.form table td select.w10 {
    width: 50%;
}

#price section.form table td textarea {
    padding: 5px 5px;
}

#price section.form table td textarea {
    width: 100%;
}

#price section.form table td > span.small {
    display: inline-block;
    vertical-align: top
}

#price section.form table td ul li {}

#price section.form table td > ul > li:first-child {
    margin-top: 0
}

#price section.form table td > ul > li img {
    width: 90px;
    vertical-align: middle;
    padding-right: 10px;

}

#price section.form table td input[type="text"] {
    margin: 5px 0.2em;
    padding: 5px 3px;
    display: inline-block;
    vertical-align: middle
}

#price section.form table td > ul > li input[type="text"].address {
    margin: 0
}

#price section.form table td > ul > li .emagency_tel {
    width: 50%;
}

#price section.form table td ul.goods li {
    margin-top: 0.2em;
    margin-bottom: 1em;
}

#price section.form table td > ul.emergency > li {
    display: inline-block
}

#price section.form input[type="submit"],
#price section.form input[type="button"] {
    margin: 20px auto;
    display: block;
    background: #fff;
    width: 130px;
    padding: 8px 0;
    border: 1px solid #0a8bcf;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#price section.form input[type="submit"]:hover {
    background: #0a8bcf;
    color: #fff;
}

.mw_wp_form_confirm table input[type="button"i] {
    display: none;
}

#confirm section.form table span,
#confirm section.form table a,
#confirm section.form table td img,
#confirm section.form table em {
    display: none !important;
}

#thanks section p {
    margin: 0 4% 2em;
}

#price section.form table td .japan h3,
#price section.form table td .abroad h3 {
    background: #54aadd;
    padding: 2% 4% 1%;
    color: #fff;
    margin-top: 4%;
    margin-bottom: 4%;
}


/*  予約ページ　Google カレンダー
----------------------------------------------------------------------------------------------------*/

#reserve .calender {
    margin: 0 4% 6%;

}



#reserve .calender h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

#reserve .calender ul li .ifrm-container {
    width: 100%;
    height: 100px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
}

#reserve .calender ul li .ifrm-container .ifrm {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#reserve .calender ul li h4.blue {
    background: #0a8bcf;
}

#reserve .calender ul li h4.green {
    background: #3fc317;
}

#reserve .calender ul li h4.yellow {
    background: #f4c900;
}

#reserve .calender ul li h4 {
    position: relative;
    background: #0a8bcf;
    border-radius: 5px;
    padding: 0.2em 1em;
    color: #fff;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 4%;
    margin-top: 6%;
}

#reserve .calender ul li h4 img {
    display: none;

}

#reserve .calender ul {
    margin-bottom: 0px;
}

#reserve .calender ul li {
    margin-bottom: 8%;
}

#reserve .calender ul li:last-child {
    margin-bottom: 30px;
}

#reserve .calender ul li div {
    margin-top: 20px;
    position: relative;
    padding-bottom: 100%;
    /* 縦横比 */
    height: 0;
    background: #e3e9ff;
}

#reserve .calender ul li div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 98% !important;
}

#reserve .calender p.text {
    margin: -2% 0% 4%;
    font-size: 12px;
}

#reserve #c06 {
    margin: 0 4% 0%;
}

#reserve #c06 p {
    font-size: 13px;
}

#reserve .calc {
    margin-bottom: 8%;
}

#reserve .calc h2 {
    width: 92%;
    margin: 0 auto;
}

#reserve .calc ul {
    width: 92%;
    margin: 0 auto;
    padding-top: 4%;
}

#reserve .calc ul li {
    float: left;
    position: relative;
    font-size: 13px;
    text-align: center;
    display: block;
    width: 24%;
    height: 63px;
    padding: 2%;
    color: #fff;
    border-radius: 5px;

    background: #0a8bcf;
    margin-left: 7%;
}

#reserve .calc ul li img {
    display: none;
}

#reserve .calc ul li:first-child {
    margin-left: 0%;
}

#reserve .calc ul li:first-child:after {
    content: "+";
    position: absolute;
    top: 37%;
    right: -19%;
    color: #0a8bcf;
    font-weight: bold;
}

#reserve .calc ul li:last-child:after {
    content: "=";
    position: absolute;
    top: 37%;
    left: -19%;
    color: #0a8bcf;
    font-weight: bold;
}

#reserve #warmsg {
    color: red;
    margin-top: 4%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 2% 4%;
    border: 2px solid red;
}

/* 約款
----------------------------------------------------------------------------------------------------*/

#yakkan section {
    margin: 4% 4% 6%;
}

#yakkan section h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 5%;
}

#yakkan section h2 img {
    width: 30%;
    height: auto;
}

#yakkan section h4 {
    font-weight: bold;
    margin-top: 1.0em;
    font-size: 16px;
    margin-bottom: 2%;
}

#yakkan section h5 {
    font-weight: bold;
    margin-top: 6%;
    font-size: 13px;
    margin-bottom: 2%;
}

#yakkan section p {
    margin-top: 1em
}

#yakkan section ul {
    counter-reset: cnt3
}

#yakkan section ul li {
    font-size: 13px;
    margin-top: 1em;
    text-indent: -1.8em;
    padding-left: 1.8em;
}

#yakkan section ul > li:first-child {
    margin-top: 0
}

#yakkan section ul > li:before {
    counter-increment: cnt3;
    content: counter(cnt3) ".";
    margin-right: 0.8em
}

#yakkan #sidebar {
    display: none;
}



/* car
----------------------------------------------------------------------------------------------------*/
#car section.car {
    margin: 0 4% 6%;
}

#car .form_btn a {
    width: 92% !important;
    margin: 0 auto 8% !important;
}

#car section.car h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 3%;
    x padding-left: 15%;
    x padding-right: 15%;
}

#car section.car .big {
    margin-bottom: 0px;
    font-weight: bold;
}

#car section.car h3 {
    margin-bottom: 25px;
    color: #0a8bcf;
    font-size: 16px;
    text-align: center;
}

#car .car .main_photo {
    margin-bottom: 10px;
}

#car .car .oneplanet {
    text-align: right;
    margin-top: -14%;
    margin-right: 2%;
    padding-bottom: 4%;

}

#car .car .oneplanet img {
    width: 10%;
    height: auto;
}

#car .car table.info {
    width: 100%;
    margin: 0 0% 4%;
    border-top: #0a8bcf 1px solid;
    border-right: #0a8bcf 1px solid;
    font-size: 12px;

}


#car .car table.info th {
    border: #0a8bcf 1px solid;
    padding: 5px 7px;
    text-align: center;
    background: #dcf0ff;
}

#car .car table.info td {
    border: #0a8bcf 1px solid;
    padding: 5px 7px;

}

#car .car table.checktable {
    border: #0a8bcf 1px solid;
    width: 100%;
    xmargin: 0 0% 10%;
    margin: 0 0%;
    font-size: 12px;
}

#car .car .kome1 {
    color: #f00;
    padding-top: 2%;
    font-size: 12px;
}

#car .car .kome2 {
    color: #f00;
    margin-top: -4%;
    font-size: 12px;
}

#car .car .mb {
    margin-bottom: 10% !important;
}

#car .car table.checktable caption {
    font-size: 18px;
    color: #0a8bcf;
    margin-bottom: 10px;
}

#car .car table.checktable th {
    width: 350px;
    border: #0a8bcf 1px solid;
    padding: 3px 5px;
}

#car .car table.checktable td {
    width: 20px;
    text-align: center;
    border: #0a8bcf 1px solid;
    padding: 3px 5px;
}

#car .camera ul {
    margin-bottom: 5%;
}

#car .camera ul li {
    margin-bottom: 4%;
}

#car .camera ul li h4 {
    font-size: 14px;
}

#car .camera ul li .iframe {
    position: relative;
    width: 100%;
}

#car .camera ul li .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#car .car .gallery {}

#car .car .gallery ul {
    margin: 0 0%;

}

#car .car .gallery ul li {
    margin-bottom: 4%;
    font-size: 13px;
}

#car .car .gallery ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}


/* rental
----------------------------------------------------------------------------------------------------*/
#rental section {
    margin: 0 4% 6%;
}

#rental section h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 2%;
    margin-bottom: 6%;
    padding-left: 15%;
    padding-right: 15%;
}

#rental section h2 .sm {
    display: block;
    font-size: 12px;
    color: #0a8bcf;
}

#rental section h3 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 4%;
}

#rental .gallery {}

#rental .free .gallery {
    border: 5px solid #d3edfd;
    padding: 4% 4% 3%;
}

#rental .charge .gallery {
    border: 5px solid #c8decc;
    padding: 4% 4% 3%;

}

#rental .gallery ul {}

#rental .gallery ul li {

    margin-bottom: 4%;
}

#rental .gallery ul li img {
    width: 100%;
    height: auto;
}

#rental .gallery ul li a {
    display: block;
    text-decoration: none;

}

#rental .gallery ul li a:hover img {
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";


}

#rental .gallery ul li:nth-child(3n+1) {
    clear: both;
}

#rental .gallery ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

/* 寝具 */
#rental .gallery_top {

    border: 5px solid #d3edfd;
    padding: 4% 4% 3%;
    margin-bottom: 6%;
}

#rental .gallery_top ul {}

#rental .gallery_top ul li {}

#rental .gallery_top ul li .photo {}

#rental .gallery_top ul li .text {
    overflow: hidden;
}

#rental .gallery_top ul li .photo img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

/* guide
----------------------------------------------------------------------------------------------------*/
#guide .indent {
    padding-left: 2%;
}

#guide .line_b {
    padding-bottom: 2%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4%;
}

#guide section {
    margin: 0 4% 6%;
}

#guide section.reserve h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 2%;
    padding-left: 30%;
    padding-right: 30%;
}

#guide section.reserve h3 {
    text-align: center;
    margin-bottom: 6%;
}

#guide section.reserve .step {
    text-align: center;
    xwidth: 80%;
    margin: 0 auto 8%;

}

#guide section.reserve dl {
    margin-bottom: 4%;
    font-size: 13px;
    xborder-bottom: 1px solid #ccc;
}

#guide section.reserve dl dt {
    font-size: 17px;
    margin-bottom: 4%;
    color: #0a8bcf;
}

#guide section.reserve dl dt span.left {
    display: block;
}

#guide section.reserve dl dt span.right {
    color: #333;
    position: relative;
    top: 4px;
    display: block;
    background: #f0f0f0;
    padding: 5px 15px 3px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #ccc;
}

#guide section.reserve dl dd {
    font-size: 14px;
    line-height: 1.6;

}

#guide section.reserve dl dd ul {
    margin-bottom: 1.5em;
}

#guide section.reserve dl dd p {
    margin-bottom: 1.5em;
}

#guide section.reserve dl dd p.border {
    border: 1px solid #ccc;
    padding: 5px 10px;
    display: inline-block;
}

#guide section.reserve dl dd p img {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: auto;

}

#guide section.reserve dl dd h4 {
    font-size: 22px;
    color: #56ace2;
    margin-bottom: 5px;

}

#guide section.hoken section {
    margin: 0 0 4%;
    font-size: 13px;
}

#guide section.hoken h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 4%;
    padding-left: 30%;
    padding-right: 30%;
}

#guide section.hoken {}

#guide section.hoken section {
    margin-bottom: 30px;
}

#guide section.hoken .red {
    color: #f00;
}

#guide section.hoken .bold {
    font-weight: bold;
}

#guide section.hoken p {
    margin-bottom: 10px;
}

#guide section.hoken p.big {
    font-size: 16px;
}

#guide section.hoken p.pl2 {
    margin-left: 1em;
}

#guide section.hoken p.small {
    font-size: 11px;
}

#guide section.hoken h3 {
    font-size: 16px;
    background: #70b7de;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 25px;
}

#guide section.hoken h4 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

#guide section.hoken h4.big,
#guide section.hoken h4 .big {
    font-size: 17px;
    font-weight: bold;
}

#guide section.hoken h4 .small {
    font-size: 11px;
}

#guide section.hoken h5 {
    font-size: 14px;
    margin-bottom: 5px;
}

#guide section.hoken ul.mark {
    margin-left: 2em;
    margin-bottom: 1em;
    list-style-type: disc;
    list-style-position: outside;

}

#guide section.hoken ul.comm {
    text-indent: -1em;
    padding-left: 1em;

}

#guide section.hoken table {
    border: 1px solid #999;
    margin-bottom: 10px;
    font-size: 13px;
}

#guide section.hoken table th {
    white-space: nowrap;
    text-align: center;
}

#guide section.hoken table th,
#guide section.hoken table td {
    border: 1px solid #999;
    padding: 5px 7px;
    text-align: center;
}

#guide section.hoken .line_box {
    border: 1px solid #e73828;
    padding: 20px;
    border-radius: 10px;
}

#guide section.hoken #c2rap {}

#guide section.hoken #c2rap span.small {
    display: block;
    font-size: 16px;
    padding-left: 20px;
    color: #f00;
}

#guide section.hoken #c2rap span.big {
    display: block;
}



#guide table.price_info {
    border: none !important;
    margin-top: 10px;
}

#guide table.price_info td {
    border: none !important;
    line-height: 1.2;
    font-size: 13px;
}

#guide table.price_info td {
    display: block;
    width: 100%;

}

#guide table.price_info td.noc {
    text-align: left;
    font-size: 12px;
    line-height: 1.6;
}

#guide table.price_info span.arrow {
    font-size: 20px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
    text-align: center;
}

#guide table.price_info span.price {
    font-size: 30px;
    color: #f00;
}

#guide table.price_info span.en {
    font-size: 13px;
}


#guide section.hoken .tel {
    font-size: 17px;
    color: #f00;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
}

/* tourism
----------------------------------------------------------------------------------------------------*/
#tourism section {}

#tourism section h3 {
    font-size: 18px;
    background: #70b7de;
    color: #fff;
    font-weight: bold;
    padding: 6px 20px 3px;
    margin-bottom: 4%;
}

#tourism section a {
    color: #00f;
    text-decoration: underline;
    font-size: 13px;
    line-height: 34px;
}

#tourism section a.pdf:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../images/pdf_icon.png) no-repeat;
    background-position-y: 2px;
}

#tourism section ul {
    padding-left: 8%;
    padding-bottom: 6%;
}

#tourism section li {
    list-style-type: disc;
}


/*
#guide section.hoken p{
    font-size:14px;
    margin-bottom:50px;
}
#guide section.hoken ul{
    margin:0 15% 10%;
}
#guide section.hoken ul li{
    margin-bottom:6%;

    text-align:center;
}

#guide section.hoken ul li img{
    width:100%;
    height:auto;
    margin-top:5px;
}
#guide section.hoken ul li{
    text-align:center;
}
*/
/* access*/
#guide section.access h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

#guide section.access p {
    font-size: 14px;
    margin-bottom: 1.5em;
}

#guide .bold {
    font-weight: bold;
}

#guide .red {
    color: #f00;
}

#guide section.access .map {
    position: relative;
    width: 100%;
    padding: 75% 0 0 0;
    margin-bottom: 10%;
}

#guide section.access .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* calcel*/
#guide section.cancel h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

#guide section.cancel p {
    font-size: 14px;
    margin-bottom: 1.5em;
}

#guide section.cancel h3 {
    border: 1px solid #ccc;
    padding: 3px 10px 3px;
    margin-bottom: 4%;
    background: #efefef;

}

#guide section.cancel h4 {
    border: 1px solid #9d0000;
    font-size: 14px;
    padding: 3px 10px 3px;
    margin-bottom: 10px;
    color: #9d0000;

}

#guide section.cancel dl {
    margin-bottom: 4%;
}

#guide section.cancel dl dt {
    font-weight: bold;
}

#guide section.cancel dl dd {
    margin-bottom: 1em;
}

#guide section.access h5 {
    font-size: 16px;
    font-family: "じゅん 201";
    margin-bottom: 5px;
}

#guide section.cancel table {

    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin: 10px 0 10px;
}

#guide section.cancel table td {
    background: #c6f6f9;
    padding: 10px 10px;
    text-align: center;

}

#guide section.faq h2 {
    text-align: center;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 2%;
    padding-left: 12%;
    padding-right: 12%;
}

#guide section.faq {}

#guide section.faq h4 {
    font-size: 15px;
    margin: 4% 0 5%;
    color: #f00;
    padding: 1% 0;
    text-align: center;
    border: 1px solid #f00;
}

#guide section.faq dl {}

#guide section.faq dl dt {
    font-size: 14px;
    margin-bottom: 3%;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 2%;
}

#guide section.faq dl dd {
    margin-bottom: 6%;
    padding: 0 4%;
    font-size: 12px;
}

#guide section.faq .bold {
    font-weight: bold;
}

#guide section.faq a {
    color: #00f;
    text-decoration: underline;
}

.iziModal p {
    padding-top: 4%;
    padding-right: 4%;
    padding-left: 4%;
    text-align: left;
}

.iziModal ul {
    width: 92%;
    margin: 0 auto 4%;
    padding-bottom: 4%;
}

}

.iziModal ul li:first-of-type {
    margin-bottom: 2%;
}

#guide section.access ul.airport li {
    width: 49%;
    float: left;
}

#guide section.access ul.airport li:first-of-type {
    margin-right: 2%;
    float: left;
}

#guide section.access ul.airport li img {
    width: 100%;
}

#guide section.access .txt {
    margin-bottom: 5px;
    margin-top: 5px;
}

#guide section.access .txt a {
    color: #00f;
}

#guide section a {
    text-decoration: underline;
}

#guide section a.link {
    color: #00f;
}



/* contact
----------------------------------------------------------------------------------------------------*/

#contact section,
#contact-confirm section {
    margin: 0 4% 6%;
    font-size: 13px;
}

#contact section h2 {
    text-align: center;
    margin-top: 0%;
    border-bottom: 3px dotted #f8db83;
    padding-bottom: 3%;
    margin-bottom: 2%;
    padding-left: 35%;
    padding-right: 35%;
}

#contact section table,
#contact-confirm section table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;

    display: block;
}

#contact section table th,
#contact-confirm section table th {
    text-align: left;
    background: #efefef;
    padding: 8px 20px 2px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#contact section table td,
#contact-confirm section table td {
    padding: 6px 20px;
    background: #efefef;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#contact section table select {
    padding: 5px 5px;
}

#contact section table td input[type="text"] {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
}

#contact section table td input[type="email"] {
    padding: 5px 5px;
    width: 100%;
    box-sizing: border-box
}

#contact section table td textarea {
    padding: 5px 5px;
    width: 100%;
    box-sizing: border-box;
}

#contact section input[type="submit"],
#contact-confirm section input[type="submit"] {
    margin: 20px auto;
    display: block;
    background: #fff;
    width: 130px;
    padding: 8px 0;
    border: 1px solid #0a8bcf;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#contact section input[type="submit"]:hover,
#contact-confirm section input[type="submit"]:hover {
    background: #0a8bcf;
    color: #fff;
}

#contact-confirm em {
    display: none;
}

#contact-end section p {
    margin: 0 4% 1em;
}

#archive #contents {
    padding-top: 4%;

}

#archive .entry-header {
    text-align: left;
    border-bottom: 1px solid #999;

    margin-bottom: 10px;
    padding-bottom: 7px;
    font-size: 18px;
}

#archive .entry-header time {
    font-size: 14px;
    padding-right: 5px;
    position: relative;
    top: -1px;
}

#archive .entry-header a time:hover {
    text-decoration: none !important;
}

#archive article {
    margin: 0 4% 0%;

}

#archive article .thumb {
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#single .thumb {
    margin-bottom: 20px;
}

#archive article .thumb img {
    width: 100%;
    height: auto;
}

#archive article .entry-header {
    overflow: hidden;
}

#archive .more-link {
    border: 1px solid #ccc;
    background: #eee;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 10px;
    display: none;
}

#single .entry-title {
    padding: 4% 4% 4%;
    font-size: 16px;
}

#single .entry-content {
    padding: 0 4% 4%;
}

#single #contents .entry-content p {
    margin-bottom: 1em;
}

#single #contents .navigation {
    margin: 0 4% 8%;
    border-top: 1px solid #ccc;
    padding-top: 4%;
}

#single #contents .navigation a {}

#single #contents .navigation li.nav-previous {
    padding-bottom: 10px;
}

#single #contents .navigation li.nav-next {
    padding-bottom: 10px;
}

table.style01 {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
    margin: 0 4% 6%;
    width: 92%;

}

table.style01 th {
    border-bottom: 1px solid #ccc;
    background: #efefef;
    padding: 2% 2%;
}

table.style01 td {

    padding: 2% 2%;
    border-bottom: 1px solid #ccc;


}


/*----------------
-tokusyou------------------------------------*/

#tokusyou .lgbt {
    margin: 6% 4% 4%;


}

#tokusyou .lgbt h2 {
    color: #009538;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4%;
    border-bottom: 1px solid #009538;
}

#tokusyou .lgbt h3 {
    margin-bottom: 2%;
}

#tokusyou .lgbt ul {}

#tokusyou .lgbt ul li {
    text-indent: -1em;
    padding-left: 1em;
}
